<!DOCTYPE html>
<html>

<head>
        <link rel="canonical" href="https://www.ireava.com/bus-tracking" />
        <title>Bus Tracking System, GPS Tracking, Driver App Tracking | Ireava</title>
        <meta property="og:title" content="Bus Tracking System, GPS Tracking, Driver App Tracking | Ireava" />
        <meta name="description" content="Install GPS based Tracking system & driver app tracking system in the school ERP." />
        <meta property="og:description" content="Install GPS based Tracking system & driver app tracking system in the school ERP." />
	  <meta name="keywords"
    content="school buses tracking system, driver app tracking system, school ERP bus tracking system, track school bus on app">
	 <meta property="og:keywords"
    content="school buses tracking system, driver app tracking system, school ERP bus tracking system, track school bus on app">
        <script type="application/ld+json">
                {
                        "@context": "https://schema.org/",
                        "@type": "WebSite",
                        "name": "Ireava",
                        "url": "https://www.ireava.com/bus-tracking/",
                        "potentialAction": {
                                "@type": "SearchAction",
                                "target": "{search_term_string}",
                                "query-input": "required name=search_term_string"
                        }
                }
        </script>
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '904711380600503');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=904711380600503&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE9CGPZ8T0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE9CGPZ8T0');
</script>
</head>

<body>
        <br /><br /><br />
        <section id="hardware" class="price s-section-padding">
                <div class="container">
                        <div class="c-headline">
                                <span>Live Bus Tracking</span>
                                <h1>Live Bus Location Tracking System</h1>
                                <p>With GPS installed in school buses and integrated with Ireava school management
                                        software, school can track every bus location in the erp portal and parents can
                                        also track their student's bus location on their mobile application.</p>
                        </div>
                        <div class="row">
                                <div class="col-md-4">
                                        <div class="price__table -free s-primary-content wow fadeInLeft">
                                                <div class="price__header">
                                                        <img src="img/gps.png" class="table__header--icon" alt="GPS devices per peice Ireava">
                                                        <h3>GPS Device per Piece</h3>
                                                </div>
                                                <div class="price__content">
                                                        <ul class="price__content--list">
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                               GPS Without
                                                                                AIS 140 Device</span></li>
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                               1 Year
                                                                                Warranty</span></li>
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                                Installation Manual</span></li>
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                                Web and
                                                                                Mobile App Tracking</span></li>
                                                        </ul>
                                                </div>
                                                <div>
                                                        <ul class="price__footer">
															<li>
                              <p class="pricetag pricestyl"> <span class="pricereq">Contact For Pricing</span> </p>
                                                                </li>
                                                                <!-- <li>
                                                                        <span class="pricetag pricereq">AMC ₹1,300
                                                                                (Varies)</span>
                                                                </li> -->
                                                                <br />

                                                                <li>
                                                                        <a class="c-btn c-btn--action video-btn hand c-btnbus"
                                                                                data-toggle="modal"onclick="document.getElementById('sound1').play();"
                                                                                data-src="https://www.youtube.com/embed/vrcGcgV67W4"
                                                                                data-target="#myModal12">
                                                                                <i class="fas fa-video fa-lg"></i>
                                                                        </a>
                                                                        <a href="https://api.whatsapp.com/send?phone=917015097673"
                                                                                onclick="document.getElementById('sound1').play();"class="c-btn c-btn--action c-btnbus"><i class="fab fa-whatsapp fa-lg"></i></a>
                                                                        <a href="tel:+91-701-509-7673"onclick="document.getElementById('sound1').play();"
class="c-btn c-btn--action c-btnbus"><i class="fas fa-phone-alt fa-lg"></i></a>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="price__table -standard s-primary-content wow fadeInUp">
                                                <div class="price__header">
                                                        <img src="img/gps.png" class="table__header--icon" alt="GPS devices per piece Ireava">
                                                        <h3>GPS Device per Piece</h3>
                                                </div>
                                                <div class="price__content margn80">
                                                        <ul class="price__content--list">
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                                 GPS With
                                                                                AIS 140 Device</span></li>
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                               1 Year
                                                                                Warranty</span></li>
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                                Installation Manual</span></li>
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                                Web and
                                                                                Mobile App Tracking</span></li>
                                                                <a href="javascript:void(0)">
                                                                        <li data-toggle="modal" data-target="#myModal14"
                                                                                class="lstn hideliimg"><span class="maincolor"
                                                                                        data-toggle="tooltip"
                                                                                        data-placement="bottom"
                                                                                        title="">
                                                                                        Click to check features</span>
                                                                        </li>
                                                                </a>
                                                        </ul>
                                                </div><br /><br />
                                                <div>
                                                        <ul class="price__footer">
                                                                <li>
                                                                        <p class="pricetag pricestyl"> <span class="pricereq">Contact For Pricing</span> </p>

                                                                </li>
                                                                <!-- <li>
                                                                        <span class="pricetag pricereq">AMC ₹1,500
                                                                                (Varies)</span>
                                                                </li> -->
                                                                <br />
                                                                <li>
                                                                        <a class="c-btn c-btn--action video-btn hand c-btnbus"
data-toggle="modal"onclick="document.getElementById('sound1').play();"
                                                                                data-src="https://www.youtube.com/embed/vrcGcgV67W4"
                                                                                data-target="#myModal12">
                                                                                <i class="fas fa-video fa-lg"></i>
                                                                        </a>
                                                                        <a href="https://api.whatsapp.com/send?phone=917015097673"
                                                                               onclick="document.getElementById('sound1').play();" class="c-btn c-btn--action c-btnbus"><i class="fab fa-whatsapp fa-lg"></i></a>
                                                                        <a href="tel:+91-701-509-7673"onclick="document.getElementById('sound1').play();" class="c-btn c-btn--action c-btnbus"><i class="fas fa-phone-alt fa-lg"></i></a>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="price__table -premium s-primary-content wow fadeInUp">
                                                <div class="price__header">
                                                        <img src="img/gps.png" class="table__header--icon" alt="Bus tracking system Ireava">
                                                        <h3>Driver App - Bus Tracking System</h3>
                                                </div>
                                                <div class="price__content margn80">
                                                        <ul class="price__content--list">
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                                 With Driver
                                                                                Phone GPS Bus Tracking</span></li>
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                                Emergency
                                                                                Button in Driver Application</span></li>
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                                 Check GPS
                                                                                Enabled/Disabled Status</span></li>
                                                                <li><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                                Mark
                                                                                Student check-In and Check-Out</span>
                                                                </li>
                                                        </ul>
                                                </div><br /><br />
                                                <div>
                                                        <ul class="price__footer">
                                                                <li>
                                                                        <p class="pricetag pricestyl"> <span class="pricereq">Contact For Pricing</span> </p>

                                                                </li>
                                                                <!-- <li>
                                                                        <span class="pricetag pricereq">per driver per
                                                                                year</span>
                                                                </li> -->
                                                                <br />
                                                                <li>
                                                                        <a href="https://api.whatsapp.com/send?phone=917015097673"
                                                                               onclick="document.getElementById('sound1').play();" class="c-btn c-btn--action c-btnbus"><i class="fab fa-whatsapp fa-lg"></i></a>
                                                                        <a href="tel:+91-701-509-7673"onclick="document.getElementById('sound1').play();" class="c-btn c-btn--action c-btnbus"><i class="fas fa-phone-alt fa-lg"></i></a>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

        </section>
        <hr />
        <section>
                <div class="container contnmar">
                        <div class="c-headline clientpadding">
                                <span>Successful GPS Implementation</span>
                                <h2>Live Bus Tracking System</h2>
                        </div>

                        <div class="row">
                                <div class="col-xs-6">
                                        <div class="row">
                                                <div class="col-xs-4">
                                                        <div class="abcd">
                                                                <span class="icon"><i class="fas fa-map-marker-alt fs35"></i></span>
                                                        </div>
                                                </div>
                                                <div class="col-xs-8">
                                                        <div class="abcd abcn">
                                                                <h4><span class="count">37</span> +</h4>
                                                                <p>Installed Devices</p>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-xs-6">
                                        <div class="row">
                                                <div class="col-xs-4">
                                                        <div class="abcd">
                                                                <span class="icon"><img src="img/icon/route-solid.svg"
                                                                                alt="bus tracking devices installed ireava"></span>
                                                        </div>
                                                </div>
                                                <div class="col-xs-8">
                                                        <div class="abcd">
                                                                <h4><span class="count">6000</span> +</h4>
                                                                <p>Tracking Every Day</p>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
					</div>
        </section><br />
        <div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-body">
                                        <button type="button" onclick="document.getElementById('sound1').play();" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="" id="video11"
                                                        allowscriptaccess="always" allowfullscreen></iframe>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-body">
                                        <button type="button" onclick="document.getElementById('sound1').play();" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="" id="video12"
                                                        allowscriptaccess="always" allowfullscreen></iframe>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

        <div class="modal fade" id="myModal14" role="dialog">
                <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                                <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">AIS 140 Device Features</h4>
                                </div>
                                <div class="modal-body">
                                        <ul ng-repeat="ais in aisfeatures1">
                                                <li class="points" ng-repeat="x in ais.list">
                                                        {{x}}</li>
                                        </ul>
                                </div>

                        </div>

                </div>
        </div>

        <script type="text/javascript">
                $(document).ready(function () {
                        var $videoSrc;
                        $('.video-btn').click(function () {
                                $videoSrc = $(this).data("src");
                        });
                        console.log($videoSrc);
                        $('#myModal12').on('shown.bs.modal', function (e) {
                                $("#video12").attr('src', $videoSrc +
                                        "?rel=0&amp;showinfo=0&amp;autoplay=1");
                        })
                        $('#myModal12').on('hide.bs.modal', function (e) {
                                $("#video12").attr('src', $videoSrc);
                        })
                });
        </script>
        <script>
                $('.count').each(function () {
                        $(this).prop('Counter', 0).animate({
                                Counter: $(this).text()
                        }, {
                                duration: 4000,
                                easing: 'swing',
                                step: function (now) {
                                        $(this).text(Math.ceil(now));
                                }
                        });
                });
        </script>
</body>


</html>