<!DOCTYPE html>
<html>
    <head>
            <link rel="canonical" href="https://www.ireava.com/contact"/>
            <title>	Get in Touch with us | Ireava.com</title>
            <meta property="og:title" content="Get in Touch with us | Ireava.com"/>
            <meta name="description" content="Write to us, come to us or call to us for any query and information." />
            <meta property="og:description" content="Write to us, come to us or call to us for any query and information." />
		 <meta name="keywords" content="Ireava ERP Solutions contact details, Ireava contact details.">
		 <meta property="og:keywords" content="Ireava ERP Solutions contact details, Ireava contact details.">
            <script type="application/ld+json">
                {
                  "@context": "https://schema.org/",
                  "@type": "WebSite",
                  "name": "Ireava",
                  "url": "https://www.ireava.com/contact/",
                  "potentialAction": {
                    "@type": "SearchAction",
                    "target": "{search_term_string}",
                    "query-input": "required name=search_term_string"
                  }
                }
                </script>
		<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '904711380600503');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=904711380600503&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE9CGPZ8T0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE9CGPZ8T0');
</script>
    </head>
    <body>
<br/>
<br/>
<!-- <section id="contact" class="contact s-section-padding backpic"> -->
    <section id="contact" class="contact s-section-padding backcolor">
    <div class="c-overlay s-back-grad op80"></div>
    <div class="container">
        <div class="c-headline">
            <span>contact</span>
            <h1>Get In Touch</h1>
        </div>
        <div class="row">
            <div class="col-md-6 hidden-sm hidden-xs divheigh">
              <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d111558.15645222361!2d75.8980096460809!3d29.100001008140268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3959ca2d79d9388f%3A0xdf01802de2777922!2sireava!3m2!1d29.1000192!2d75.9680499!5e0!3m2!1sen!2sin!4v1568616213634!5m2!1sen!2sin"
                    class="embed-responsive-item heigwid" frameborder="0" allowfullscreen></iframe> -->
                    <img src="https://ireava.sirv.com/Images/img/call us.png" class="img-responsive" alt="contact us">
            </div>
            <div class="col-md-4">
                <ul class="contact__info">
                    <li>
                        <address>
                            <h2 class="office"><i class="fas fa-map-marker-alt"></i> Office Address</h2>
                            Kalyan Building, 1st Floor, Navbharat School Corner, 
							Road No. 7, Ashoknagar Sukhsagar Palace Road, 
							Udaipur, Rajasthan 313001, India
                        </address>
                    </li>
                    <li>
                        <span>
							<h2 class="office"><i class="fas fa-mobile-alt"></i> Mobile Number</h2>
                            <a href="tel:+917015097673">(+91) 701 509 7673</a>
                            <br>
                            <a href="tel:+919992766206">(+91) 999 276 6206</a>
                        </span>
                    </li>
                    <li>
                        <span>
								<h2 class="office"><i class="fas fa-envelope"></i> E-Mail Address</h2>
                            <a href="mailto:business@ireava.com">business@ireava.com</a>
                            <br/>
                            <a href="mailto:contact@ireava.com">contact@ireava.com</a>
                        </span>
                    </li>
                    <li>
						<span>
						<h2 class="office"><i class="fas fa-user-clock"></i> Customer Hours</h2>
							24 hours a day and 7 days a week
						</span>
                    </li>
                </ul>
            </div>
     <!--       <div class="col-md-4">
                <div class="contact__message">
                    <p class="contact__success dispnon">We received your message and you'll hear from us soon. Thank You!</p>
                    <div class="c-headline">
                        <h3 class="contact_us">How We Help You?</h3>
                    </div>
<form class="contact__form" action="#" method="post">
                        <div class="form-group">
                            <input class="form-control" required="" ng-model="contact.name" placeholder="Full Name*" type="text" onkeypress="return /[a-zA-Z]/i.test(event.key)">
                        </div>
                        <div class="form-group">
                            <input class="form-control" ng-model="contact.email" required="" name="email" placeholder="Email Adress*" type="email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" ng-model="contact.number" required="" name="number" placeholder="Phone Number With Country Code*" type="text" onkeypress="return /[0-9\+]/i.test(event.key)" minlength="10" maxlength="14">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" cols="20" ng-model="contact.message" name="message" placeholder="Your Message..."></textarea>
                        </div>
                        <input value="Send Message" onclick="document.getElementById('sound1').play();" id="submit-button" class="c-btn c-btn--action" ng-click="saveContactDetail(contact)" type="button">
                        <div class="form-group" align="center">
                            <div ng-show="contactError" ng-bind="errors.contactMsg" class="help-block animation-slideDown"></div>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</section>
</body>
</html>