<!DOCTYPE html>
<html>

<head>
        <link rel="canonical" href="https://www.ireava.com/elearning" />
        <title>Best online learning & interactive platform for school students for all classes | Ireava</title>
        <meta property="og:title"
                content="Best online learning & interactive platform for school students for all classes | Ireava" />
        <meta name="description"
                content="Interactive, deep concept, knowledgeable and best available content in the market you can access on Ireava elearning portal | Ireava.com" />
        <meta property="og:description"
                content="Interactive, deep concept, knowledgeable and best available content in the market you can access on Ireava elearning portal | Ireava.com" />
	<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin-top:15px;}</style>
        <script type="application/ld+json">
                {
                        "@context": "https://schema.org/",
                        "@type": "games",
                        "name": "Ireava",
                        "url": "https://www.ireava.com/elearning",
                        "potentialAction": {
                                "@type": "SearchAction",
                                "target": "{search_term_string}",
                                "query-input": "required name=search_term_string"
                        }
                }
        </script>
	<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '904711380600503');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=904711380600503&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE9CGPZ8T0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE9CGPZ8T0');
</script>
</head>
 
<body>
        <section>
                <div class="c-overlay header__img backimg12">
                <div class="c-overlay">
                <div id="home" class="hero margb0">
                    <div class="container">
                        <div class="row rowtop">
                            <div class="col-md-7">
                                <div class="hero__info">
                                        <h1 class="mobileh1"><span>{{holo1}}</span></h1>
                                        <h3 class="mobileh3"><span>{{holo2}}</span></h3>
                                    <p>&nbsp;</p>
                                </div>
                                <div class="hero__download">
                                        <a class="c-btn btn1123 -big hand" href="tel:+91-7015097673">Call us</a>
                                        <a href="https://games.ireava.com" class="c-btn c-btn--primary -big hand" ><span>Visit Brain Games</span></a></div>
                            </div>
                            <div class="col-md-5">
                               <!-- <video src="../assets/ar.mp4" autoplay loop controls style="width:200px"></video> -->
								<div class='embed-container'><iframe src='https://www.youtube.com/embed//2LQqkovWv_Q' frameborder='0' allowfullscreen></iframe></div>
								<div class='embed-container'><iframe src='https://www.youtube.com/embed//SrH-mWWNojA' frameborder='0' allowfullscreen></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </section>

        <section>
                <div id="brand-building" class="hero margb0 paddb0">
                        <div class="container">
                                <div class="row">
                                        <div class="col-sm-4 col-sm-offset-1 col-sm-push-7">
                                                        <picture class="center">
                                                                <source srcset="https://ireava.sirv.com/Images/img/learning11.webp" type="image/webp">
                                                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/learning11.png">
                                                                <img src="https://ireava.sirv.com/Images/img/learning11.png" alt="Ireava learning program"
                                                                        class="img-responsive imgg">
                                                        </picture>
                                        </div>
                                        <div class="col-sm-7 col-sm-pull-5">
                                                <div class="hero__info hero__info123">
                                                        <h2 class="hidden-xs">{{holo3}}</h2>
                                                        <h2 class="fs22 fw600 hidden-lg hidden-md hidden-sm visible-xs">
                                                                {{holo3}}</h2>
                                                        <h3 class="hidden-xs">{{holo4}}</h3>
                                                        <h3 class="fs18 hidden-lg hidden-md hidden-sm visible-xs">
                                                                {{holo4}}</h3>
                                                        <p>&nbsp;</p>
                                                </div>
                                                <div class="hero__download">
                                                        <a class="c-btn c-btn--action -big video-btn hand"
                                                                onclick="document.getElementById('sound1').play();"
                                                                href="tel:+91-7015097673">
                                                                Call Us
                                                        </a>
                                                        <a href="https://api.whatsapp.com/send?phone=917015097673"
                                                                target="_blank" class="c-btn c-btn--primary -big hand"
                                                                onclick="document.getElementById('sound1').play();">
                                                                <span>Get Quote</span>
                                                        </a>
                                                </div>
                                        </div>

                                </div>
                        </div>
                </div>
        </section>
        <section>
                <div id="brand-building" class="hero margb0 paddb0 paddt0 hologramb1">
                        <div class="container">
                                <div class="row">
                                        <div class="col-sm-3 col-sm-offset-1 col-sm-push-8">
                                                <img src="https://ireava.sirv.com/Images/img/hologram.png" alt="learning with hologram device using ireava app" class="img-responsive imgg center">
                                        </div>
                                        <div class="col-sm-8 col-sm-pull-4">

                                                <div class="hero__info hero__info123">
                                                        <h2 class="hidden-xs text-left">{{holo5}}</h2>
                                                        <p
                                                                class="text-left fs20 fw600 hidden-lg hidden-md hidden-sm visible-xs">
                                                                {{holo5}}</p>
                                                        <h3 class="text-left fw600 hidden-xs">{{holo6}}</h3>
                                                        <p
                                                                class="text-left fs18 fw600 hidden-lg hidden-md hidden-sm visible-xs">
                                                                {{holo6}}</p>
                                                        <p class="text-justify">{{holo7}}</p>
                                                        <p class="text-left fs22 fw600">{{holo8}}</p>
                                                </div>
                                                <div class="hero__download">
                                                        <a class="c-btn c-btn--action -big video-btn hand"
                                                                onclick="document.getElementById('sound1').play();"
                                                                id="exampleImage"
                                                                data-videourl="https://www.youtube.com/embed/vQISegtvPsw">
                                                                Watch Video
                                                        </a>
                                                        <a href="{{whatsapp}}"
                                                                target="_blank" class="c-btn c-btn--primary -big hand"
                                                                onclick="document.getElementById('sound1').play();">
                                                                <span>Get Quote</span>
                                                        </a>
                                                </div>
                                        </div>

                                </div>
                        </div>
        </section>
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 bs05">
                                <div class="row margt45 margb30">
                                        <div class="col-sm-5">
                                                <img class="bs01 mw80 center" src="https://ireava.sirv.com/Images/img/eroi.svg" alt="roi on the Ireava ERP">
                                        </div>
                                        <div class="col-sm-7">
                                                <div>
                                                        <p class="text-justify">{{holo9}}</p>
                                                        <br />
                                                        <div class="c-headline clientpadding">
                                                                <h2>{{holo10}}</h2>
                                                        </div>
                                                        <ul ng-repeat="x in hololist1" class="pl5">
                                                                <li>{{x}}</li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>

                </div>
        </div>
        <div class="container">
                <div class="row">
                        <div class="c-headline clientpadding margt45">
                                <span>{{holo11}}</span>
                                <h2>{{holo12}}</h2>
                        </div>
                        <div class="col-md-6">
                                <img src="https://ireava.sirv.com/Images/img/inst001.svg" class="img-responsive" alt="Ireava E-learning">
                        </div>
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-4">
                                <div class="price__table -free s-primary-content wow fadeInLeft">
                                        <div class="price__header">
                                                <img src="https://ireava.sirv.com/Images/img/OEM.png" class="table__header--icon"
                                                        alt="Distributor Ireava Program">
                                                <h3>{{holo13}}</h3>
                                        </div>
                                        <div class="price__content">
                                                <ul class="price__content--list" ng-repeat="y in hololist2">
                                                        <li><span data-toggle="tooltip" data-placement="bottom">
                                                                        {{y}}</span></li>
                                                </ul>
                                        </div>
                                        <div>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

        <section class="price s-section-padding">
                <div class="container">
                        <div class="row">
                                <div class="col-md-12">
                                        <div class="c-headline clientpadding">
                                                <h2>{{holo14}}</h2>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <picture>
                                                <source srcset="https://ireava.sirv.com/Images/img/4787998.webp" type="image/webp">
                                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/4787998.png">
                                                <img src="https://ireava.sirv.com/Images/img/4787998.png" alt="ireava learning"
                                                        class="img-responsive w80">
                                        </picture>
                                        <h6 class="text-center fw600">{{holo15}}</h6>
                                </div>
                                <div class="col-md-4">
                                        <picture>
                                                <source srcset="https://ireava.sirv.com/Images/img/4787997.webp" type="image/webp">
                                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/4787997.png">
                                                <img src="https://ireava.sirv.com/Images/img/4787997.png" alt="ireava learning"
                                                        class="img-responsive w80">
                                        </picture>
                                        <h6 class="text-center fw600">{{holo16}}</h6>
                                </div>
                                <div class="col-md-4">
                                        <picture>
                                                <source srcset="https://ireava.sirv.com/Images/img/4787999.webp" type="image/webp">
                                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/4787999.png">
                                                <img src="https://ireava.sirv.com/Images/img/4787999.png" alt="ireava learning"
                                                        class="img-responsive w80">
                                        </picture>
                                        <h6 class="text-center fw600">{{holo17}}</h6>
                                </div>
                        </div> <!-- end of row -->
                </div> <!-- end of container -->

        </section>

   <!--     <section>
                <div class="container">
                        <div class="row">
                                <div class="col-md-12">
                                        <div class="c-headline clientpadding">
                                                <h2>FAQ</h2>
                                        </div>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-8">
                                        <div class="panel-group" id="accordion1">
                                                <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                        <a data-toggle="collapse"
                                                                                data-parent="#accordion1"
                                                                                data-target="#collapse1">
                                                                                <i class="fas fa-pencil-alt"></i> How do
                                                                                I create an account?
                                                                        </a>
                                                                </h4>
                                                        </div>
                                                        <div id="collapse1" class="panel-collapse collapse in">
                                                                <div class="panel-body">
                                                                        Download the mobile application or you can
                                                                        create account via web <a
                                                                                href="https://ireavaschool.in"
                                                                                target="_blank">sign up</a> too.
                                                                        Account creating is free. You can signup as:
                                                                        <br /><br />
                                                                        <span class="fw600">1.
                                                                                Student</span> - Wants to learn <br />
                                                                        <span class="fw600">2.
                                                                                Teacher</span> - Teach or earn with
                                                                        Ireava
                                                                        learning <br />
                                                                        <span class="fw600">3. School</span>
                                                                        - Teach your school students with
                                                                        Ireava learning.<br /><br />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                        <a data-toggle="collapse"
                                                                                data-parent="#accordion1"
                                                                                data-target="#collapse2"
                                                                                class="collapsed">
                                                                                <i class="fas fa-pencil-alt"></i>
                                                                                Does free learning content available?
                                                                        </a>
                                                                </h4>
                                                        </div>
                                                        <div id="collapse2" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                        <p>Yes, some of our content is free of cost. You
                                                                                need to signup to access free content
                                                                                and without buying a full class course
                                                                                you can engage with some free available
                                                                                content.</p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                        <a data-toggle="collapse"
                                                                                data-parent="#accordion1"
                                                                                data-target="#collapse3"
                                                                                class="collapsed">
                                                                                <i class="fas fa-pencil-alt"></i>
                                                                                Can we get refund if not satisfied?
                                                                        </a>
                                                                </h4>
                                                        </div>
                                                        <div id="collapse3" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                        Yes, we provide content trial. If you found
                                                                        our content quality compromised then you can
                                                                        cancel subscription any time.
                                                                </div>
                                                        </div>
                                                </div>

                                                <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                        <a data-toggle="collapse"
                                                                                data-parent="#accordion1"
                                                                                data-target="#collapse4"
                                                                                class="collapsed">
                                                                                <i class="fas fa-pencil-alt"></i>
                                                                                How do I get coupons on Ireava
                                                                                learing?
                                                                        </a>
                                                                </h4>
                                                        </div>
                                                        <div id="collapse4" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                        In your account setting you will found referral
                                                                        coupons. You can access more free days
                                                                        subscription with your successful referral.
                                                                </div>
                                                        </div>
                                                </div>

                                                <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                        <a data-toggle="collapse"
                                                                                data-parent="#accordion1"
                                                                                data-target="#collapse5"
                                                                                class="collapsed">
                                                                                <i class="fas fa-pencil-alt"></i>
                                                                                Can I use Ireava learning without
                                                                                application?
                                                                        </a>
                                                                </h4>
                                                        </div>
                                                        <div id="collapse5" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                        Yes, you can access learning content on
                                                                        Ireavaschool.in web portal too.
                                                                </div>
                                                        </div>
                                                </div>

                                        </div>
                                </div>


                        </div>

                </div>
        </section> -->

        <br />
        <div class="modal fade" id="myModal1231" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="" id="video"
                                                        allowscriptaccess="always" allowfullscreen></iframe>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</body>
<script>
        var img = $("#exampleImage");
      var configObject = {
        sourceUrl: img.attr("data-videourl"),
        triggerElement: "#" + img.attr("id"),
        progressCallback: function() {
          console.log("Callback Invoked.");
        }
      };
      var videoBuild = new YoutubeOverlayModule(configObject);
        videoBuild.activateDeployment();
      </script>

</html>