<!DOCTYPE html>
<html>

<head>
    <link rel="canonical" href="https://www.ireava.com" />
    <title>Best School Management ERP Software | Ireava</title>
    <meta property="og:url" content="https://www.ireava.com" />
    <meta property="og:title" content="Best School Management ERP Software | Ireava" />
    <meta name="keywords"
        content="School management software, school ERP software, school management system, software for schools, ERP portal India, Ireava, school ERP solution, mobile apps for schools, cloud ERP software for schools, India's top ERP solution, best ERP software for schools.">
    <meta property="og:keywords"
        content="School management software, school ERP software, school management system, software for schools, ERP portal India, Ireava, school ERP solution, mobile apps for schools, cloud ERP software for schools, India's top ERP solution, best ERP software for schools.">
    <meta property="og:description"
        content="Transform your school with India's leading School Management System Software. Streamline tasks, enhance communication, and book a register demo.">
    <meta name="description"
        content="Transform your school with India's leading School Management System Software. Streamline tasks, enhance communication, and book a register demo.">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Ireava",
            "url": "https://www.ireava.com/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
	<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '904711380600503');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=904711380600503&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE9CGPZ8T0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE9CGPZ8T0');
</script>
</head>

<body>
    <section>
        <div class="c-overlay header__img backimg12">
            <div class="c-overlay">
                <div id="home" class="hero margb0">
                    <div class="container">
                        <div class="row rowtop">
                            <div class="col-md-7">
                                <div class="hero__info">
                                    <h1 class="mobileh1" id='div1_1'><span>100% All In One Complete ERP Solution For
                                            School</span></h1>
                                    <!--     <h1 class="displayn mobileh1" id='div1_1'><span>{{homel1_1}}</span></h1>
                          <h1 class="displayn mobileh1" id='div1_2'><span>{{homel1_2}}</span></h1>
                            <h1 class="displayn mobileh1" id='div1_3'><span>{{homel1_3}}</span></h1>
                            <h1 class="displayn mobileh1" id='div1_4'><span>{{homel1_4}}</span></h1>
                            <h3 class="displayn mobileh3" id='div2_1'><span class="word1">{{homel2_1}}</span></h3>
                        <h3 class="displayn mobileh3" id='div2_2'><span class="word1">{{homel2_2}}</span></h3>
                            <h3 class="displayn mobileh3" id='div2_3'><span class="word1">{{homel2_3}}</span></h3>
                            <h3 class="displayn mobileh3" id='div2_4'><span class="word1">{{homel2_4}}</span></h3>
                            <h3>{{homel3}}</h3> -->
                                    <h3 class="mobileh3" id='div2_1'><span class="word1">Automate Modules. Quality
                                            Assured. 100% Complete Powerful ERP.</span></h3>
                                    <p>&nbsp;</p>
                                </div>
                                <div class="hero__download"><a class="c-btn btn1123 -big hand"
                                        onclick="document.getElementById('sound1').play();" id="exampleImage"
                                        data-videourl="https://www.youtube.com/embed/zW1IFnMIDhk">Introduction </a>
								<!--	<a
                                        class="c-btn c-btn--primary -big hand"
                                        onclick="document.getElementById('sound1').play();" data-toggle="modal"
                                        data-target="#preorder"><span>Register For Demo!</span></a> -->
									
													<a
                                        class="c-btn c-btn--primary -big hand" href="https://whatsform.com/94Gj32"
                                        target="_blank"><span>Register For Demo!</span></a>
								</div>
                            </div>
                            <div class="col-md-5">
                                <div id="owl-carousel2" class="owl-carousel owl-theme">
                                    <div><img src="https://ireava.sirv.com/Images/assets/images/webt1.webp" class="img-responsive topimage"
                                            alt="Ireava rating"></div>
                                    <div><img src="https://ireava.sirv.com/Images/assets/images/webt2.webp" alt="Ireava web portal"
                                            class="img-responsive topimage"></div>
                                    <div><img src="https://ireava.sirv.com/Images/assets/images/webt3.webp" alt="Ireava customer service"
                                            class="img-responsive topimage"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="margb40">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="x in homelt1">
                    <div class="feature1">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="abcd">
                                    <h4 class="hidden-xs">{{x.count}}+</h4>
                                    <p class="hidden-xs fs15">{{x.name}}</p>
                                    <h4 class="visible-xs hidden-sm hidden-md hidden-lg">{{x.count}}+</h4>
                                    <p class="visible-xs hidden-sm hidden-md hidden-lg fs15">{{x.name}}</p>
                                    <div class="layericons"><i class="{{x.icon}}"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features margb50 margt50">
        <div class="container">
            <div class="c-headline">    
                <h2>Complete Mobile & Web Solution</h2>
            </div><br />
            <div class="row">
                <div class="col-md-12">
                    <div id="owl-carousel3" class="owl-carousel owl-theme">
                        <div class="col-md-12">
                            <span style="font-size: 14px;position: relative;left: 45%;font-weight: 600;">Add New Students</span>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/assets/images/add_student_web.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/assets/images/add_student_web.webp"><img src="https://ireava.sirv.com/Images/assets/images/add_student_web.webp"
                                    alt="Add New Students" class="img-responsive"></picture>
                        </div>
                        <div class="col-md-12">
                            <span style="font-size: 14px;position: relative;left: 45%;font-weight: 600;">Mark Attendance</span>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/assets/images/attendance_web.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/assets/images/attendance_web.webp"><img src="https://ireava.sirv.com/Images/assets/images/attendance_web.webp"
                                    alt="Mark Attendance" class="img-responsive"></picture>
                        </div>
                        <div class="col-md-12">
                            <span style="font-size: 14px;position: relative;left: 40%;font-weight: 600;">Pay Fee Online</span>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/assets/images/oneline_fee_app.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/assets/images/oneline_fee_app.webp"><img src="https://ireava.sirv.com/Images/assets/images/oneline_fee_app.webp"
                                    alt="Pay Fee Online" class="img-responsive"></picture>
                        </div>
                        <div class="col-md-12">
                            <span style="font-size: 14px;position: relative;left: 45%;font-weight: 600;">Collect Fee</span>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/assets/images/collect_fee_web.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/assets/images/collect_fee_web.webp"><img src="https://ireava.sirv.com/Images/assets/images/collect_fee_web.webp"
                                    alt="Collect Fee" class="img-responsive"></picture>
                        </div>
                        <div class="col-md-12">
                            <span style="font-size: 14px;position: relative;left: 45%;font-weight: 600;">Exam Planner</span>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/assets/images/exam_planner_web.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/assets/images/exam_planner_web.webp"><img src="https://ireava.sirv.com/Images/assets/images/exam_planner_web.webp"
                                    alt="Exam Planner" class="img-responsive"></picture>
                        </div>
                        <div class="col-md-12">
                            <span style="font-size: 14px;position: relative;left: 45%;font-weight: 600;">Exam Result Report</span>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/assets/images/exam_result_web.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/assets/images/exam_result_web.webp"><img src="https://ireava.sirv.com/Images/assets/images/exam_result_web.webp"
                                    alt="Exam Result Report" class="img-responsive"></picture>
                        </div>
                        <div class="col-md-12">
                            <span style="font-size: 14px;position: relative;left: 40%;font-weight: 600;">Exam Subjects</span>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/assets/images/exam_subjects_app.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/assets/images/exam_subjects_app.webp"><img src="https://ireava.sirv.com/Images/assets/images/exam_subjects_app.webp"
                                    alt="Exam Subjects" class="img-responsive"></picture>
                        </div>
                        <div class="col-md-12">
                            <span style="font-size: 14px;position: relative;left: 45%;font-weight: 600;">Fee Report</span>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/assets/images/fee_report_web.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/assets/images/fee_report_web.webp"><img src="https://ireava.sirv.com/Images/assets/images/fee_report_web.webp"
                                    alt="Fee Report" class="img-responsive"></picture>
                        </div>
                        <div class="col-md-12">
                            <span style="font-size: 14px;position: relative;left: 45%;font-weight: 600;">Student Performance Report</span>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/assets/images/performance_report_web.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/assets/images/performance_report_web.webp"><img src="https://ireava.sirv.com/Images/assets/images/performance_report_web.webp"
                                    alt="Student Performance Report" class="img-responsive"></picture>
                        </div>
                        <div class="col-md-12">
                            <span style="font-size: 14px;position: relative;left: 40%;font-weight: 600;">Parents App Dashboard</span>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/assets/images/student_dashboard.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/assets/images/student_dashboard.webp"><img src="https://ireava.sirv.com/Images/assets/images/student_dashboard.webp"
                                    alt="Parents App Dashboard" class="img-responsive"></picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="margb30" ng-repeat="y in homelt2">
        <div class="container-fluid">
            <div class="s-primary-content padd-15">
                <div class="row">
                    <!-- <div class="col-md-12{{y.whatsnew}}">
                        <div class="ribbon-wrapper">
                            <div class="glow">&nbsp;</div>
                            <div class="ribbon-front">
                                <h2>{{y.whatsnewtext}}</h2>
                            </div>
                            <div class="ribbon-edge-topleft"></div>
                            <div class="ribbon-edge-topright"></div>
                            <div class="ribbon-edge-bottomleft"></div>
                            <div class="ribbon-edge-bottomright"></div>
                        </div>
                    </div> -->
                    <div class="col-md-12 hidden-xs hidden-sm">
                        <div class="feature1">
                            <h2 class="text-center">{{y.line1}} <span class="fw600">{{y.boldline}}</span>{{y.line2}}
                                &nbsp;&nbsp;<a href="{{y.btn1link}}" class="c-btn btn1123 video-btn">{{y.btn1text}}
                                </a>&nbsp;
                                <a ng-href="/{{y.btn2link}}" class="c-btn btn1123 video-btn">{{y.btn2text}} </a></h2>
                        </div>
                    </div>
                    <div class="col-md-12 hidden-lg hidden-md visible-sm visible-xs">
                        <div class="feature1">
                            <h2 class="text-center">{{y.line1}} <span class="fw600">{{y.boldline}}</span>{{y.line2}}
                                &nbsp;&nbsp;<br /><br /><a href="{{y.btn1link}}"
                                    class="c-btn btn1123 video-btn">{{y.btn1text}} </a>&nbsp;
                                <a ng-href="/{{y.btn2link}}" class="c-btn btn1123 video-btn">{{y.btn2text}} </a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="margb40">
        <div class="container">
            <div class="c-headline"><span>{{homel4}}</span>
                <h2>{{homel5}} </h2>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="x in basicerp2">
                    <a href="{{x.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{x.text}}</h4>
                      </div>
                    </a>
                  </div>
                <!-- <div class="col-md-4 col-sm-4" ng-repeat="z in homelt3">
                    <div class="well wellbox1">
                        <picture class="center">
                            <source srcset="img/{{z.img}}.webp" type="image/webp">
                            <source type="image/png" srcset="img/{{z.img}}.png"><img src="img/{{z.img}}.png"
                                alt="{{z.imgalt}}" class="img-responsive"></picture>
                        <div class="blog__content">
                            <h3 class="text-center"><a href="javascript:void(0)">{{z.title}}</a></h3>
                            <p class="text-justify">{{z.text}} </p>
                        </div><button class="btn1123 center"><a href="/{{z.link}}" class="affixhref1">Know
                                More</a></button>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <section id="features" class="features">
        <div class="container">
            <div class="c-headline"><span>reasons</span>
                <h2>Why Ireava? </h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-offset-41"><a class="c-btn btn1123 video-btn anctext hand"
                        onclick="document.getElementById('sound1').play();" id="exampleImage1"
                        data-videourl="https://www.youtube.com/embed/YDYk1bdxVFs">Watch Short Video - Why Ireava? </a>
                </div>
            </div><br />
            <div class="s-primary-content padd-15">
                <div class="row">
                    <div class="col-md-3" ng-repeat="q in homelt4">
                        <div class="feature">
                            <div class="feature__icon"><img src="https://ireava.sirv.com/Images/img/icon/{{q.icon}}.svg" alt="{{q.iconalt}}"
                                    align="center"></div>
                            <p class="text-uppercase head3">{{q.text1}} <span class="text-bold">{{q.text2}}</span></p>
                            <p class="text-justify">{{q.line}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br />
    <section class="simplepowerful1 counter s-section-padding s-section-alt s-back-grad">
        <div class="c-overlay s-pattern"></div>
        <div class="container">
            <div class="c-headline">
                <h2 class="headwhite margt15">{{homel6}}</h2>
            </div>
            <div class="row margb30">
                <div class="col-md-4" ng-repeat="w in homelt5">
                    <article class="blog__item wow fadeInLeft">
                        <div class="blog__img"><i class="{{w.icon}} fa-4x"></i></div>
                        <div class="blog__content">
                            <h3 class="text-center"><a href="javascript:void(0)">{{w.title}}</a></h3>
                            <p class="text-justify">{{w.text}} </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features margb50 margt50">
        <div class="container">
            <div class="c-headline">
                <h2>{{homel7}}</h2>
            </div><br />
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="owl-carousel" class="owl-carousel owl-theme">
                            <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                                <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>Ireava school
                                    management software is really a pocket saver and its modules are easy to use.<i
                                        class="fa fa-quote-right" aria-hidden="true"></i></p>
                                <p class="review-name text-center fsitalic">Nadar Saraswati Matriculation Higher
                                    Secondary School.</p><br />
                                <div><img src="img/5-star.svg" alt="5 star" class="ratingheight"></div>
                            </div>
                            <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                                <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>Ireava school
                                    management software is very good and cost effective.<i class="fa fa-quote-right"
                                        aria-hidden="true"></i></p>
                                <p class="review-name text-center fsitalic">Jesus Mission School</p><br />
                                <div><img src="img/5-star.svg" alt="5 star" class="ratingheight"></div>
                            </div>
                            <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                                <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>Ireava school
                                    software works well for my school with the RFID Attendance system.<i
                                        class="fa fa-quote-right" aria-hidden="true"></i></p>
                                <p class="review-name text-center fsitalic">KCIS Merta Road</p><br />
                                <div><img src="img/5-star.svg" alt="5 star" class="ratingheight"></div>
                            </div>
                            <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                                <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>Ireava
                                    Software is best in pricing with RFID Attendance System.<i class="fa fa-quote-right"
                                        aria-hidden="true"></i></p>
                                <p class="review-name text-center fsitalic">Ashoka Public School</p><br />
                                <div><img src="img/5-star.svg" alt="5 star" class="ratingheight"></div>
                            </div>
                            <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                                <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>We love the
                                    product and really satisfied with the product and the services.<i
                                        class="fa fa-quote-right" aria-hidden="true"></i></p>
                                <p class="review-name text-center fsitalic">SRI Valliammal School</p><br />
                                <div><img src="img/5-star.svg" alt="5 star" class="ratingheight"></div>
                            </div>
                            <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                                <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>We love the
                                    product and really satisfied with the product and the services.<i
                                        class="fa fa-quote-right" aria-hidden="true"></i></p>
                                <p class="review-name text-center fsitalic">SRI Valliammal School</p><br />
                                <div><img src="img/5-star.svg" alt="5 star" class="ratingheight"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section id="features" class="features margb50 margt50">
        <div class="container">
            <div class="c-headline">
                <h2>Schools That Trust Us</h2>
            </div><br />
            <div class="row">
                <div class="col-md-12">
                    <div id="owl-carousel1" class="owl-carousel owl-theme">
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/1.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/1.png"><img src="https://ireava.sirv.com/Images/img/schools/1.png"
                                    alt="springtide school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/2.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/2.png"><img src="https://ireava.sirv.com/Images/img/schools/2.png"
                                    alt="devki school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/3.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/3.png"><img src="https://ireava.sirv.com/Images/img/schools/3.png"
                                    alt="dgv school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/4.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/4.png"><img src="https://ireava.sirv.com/Images/img/schools/4.png"
                                    alt="edniche school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/5.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/5.png"><img src="https://ireava.sirv.com/Images/img/schools/5.png"
                                    alt="elnino school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/6.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/6.png"><img src="https://ireava.sirv.com/Images/img/schools/6.png"
                                    alt="gps school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/7.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/7.png"><img src="https://ireava.sirv.com/Images/img/schools/7.png"
                                    alt="ips school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/8.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/8.png"><img src="https://ireava.sirv.com/Images/img/schools/8.png"
                                    alt="jesus mission school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/9.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/9.png"><img src="https://ireava.sirv.com/Images/img/schools/9.png"
                                    alt="kcis school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/10.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/10.png"><img src="https://ireava.sirv.com/Images/img/schools/10.png"
                                    alt="kr school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/11.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/11.png"><img src="https://ireava.sirv.com/Images/img/schools/11.png"
                                    alt="msl school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/12.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/12.png"><img src="https://ireava.sirv.com/Images/img/schools/12.png"
                                    alt="stms school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/13.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/13.png"><img src="https://ireava.sirv.com/Images/img/schools/13.png"
                                    alt="pink city school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/14.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/14.png"><img src="https://ireava.sirv.com/Images/img/schools/14.png"
                                    alt="rois school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/15.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/15.png"><img src="https://ireava.sirv.com/Images/img/schools/15.png"
                                    alt="rainbow school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/16.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/16.png"><img src="https://ireava.sirv.com/Images/img/schools/16.png"
                                    alt="salokaya school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/17.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/17.png"><img src="https://ireava.sirv.com/Images/img/schools/17.png"
                                    alt="savm school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/18.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/18.png"><img src="https://ireava.sirv.com/Images/img/schools/18.png"
                                    alt="rc school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/19.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/19.png"><img src="https://ireava.sirv.com/Images/img/schools/19.png"
                                    alt="nest school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/20.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/20.png"><img src="https://ireava.sirv.com/Images/img/schools/20.png"
                                    alt="vap school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/21.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/21.png"><img src="https://ireava.sirv.com/Images/img/schools/21.png"
                                    alt="yp school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/22.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/22.png"><img src="https://ireava.sirv.com/Images/img/schools/22.png"
                                    alt="laycot school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/23.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/23.png"><img src="https://ireava.sirv.com/Images/img/schools/23.png"
                                    alt="mpc school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/24.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/24.png"><img src="https://ireava.sirv.com/Images/img/schools/24.png"
                                    alt="st john school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/25.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/25.png"><img src="https://ireava.sirv.com/Images/img/schools/25.png"
                                    alt="sv school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/26.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/26.png"><img src="https://ireava.sirv.com/Images/img/schools/26.png"
                                    alt="st joseph school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/27.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/27.png"><img src="https://ireava.sirv.com/Images/img/schools/27.png"
                                    alt="st michael school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/28.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/28.png"><img src="https://ireava.sirv.com/Images/img/schools/28.png"
                                    alt="md school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/29.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/29.png"><img src="https://ireava.sirv.com/Images/img/schools/29.png"
                                    alt="dp school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/30.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/30.png"><img src="https://ireava.sirv.com/Images/img/schools/30.png"
                                    alt="gopal academy" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/31.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/31.png"><img src="https://ireava.sirv.com/Images/img/schools/31.png"
                                    alt="st xavier school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/32.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/32.png"><img src="https://ireava.sirv.com/Images/img/schools/32.png"
                                    alt="fh academy" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/33.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/33.png"><img src="https://ireava.sirv.com/Images/img/schools/33.png"
                                    alt="v2 classes" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/34.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/34.png"><img src="https://ireava.sirv.com/Images/img/schools/34.png"
                                    alt="adarsh children school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/35.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/35.png"><img src="https://ireava.sirv.com/Images/img/schools/35.png"
                                    alt="adarsh school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/36.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/36.png"><img src="https://ireava.sirv.com/Images/img/schools/36.png"
                                    alt="balaji school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/37.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/37.png"><img src="https://ireava.sirv.com/Images/img/schools/37.png"
                                    alt="ggp school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/38.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/38.png"><img src="https://ireava.sirv.com/Images/img/schools/38.png"
                                    alt="sdv" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/39.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/39.png"><img src="https://ireava.sirv.com/Images/img/schools/39.png"
                                    alt="rkvm school" class="img-responsive abc"></picture>
                        </div>
                        <div class="col-md-3 col-xs-3 schoollist">
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/schools/40.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/40.png"><img src="https://ireava.sirv.com/Images/img/schools/40.png"
                                    alt="st teresa school" class="img-responsive abc"></picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container margb40 margt15">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <picture>
                        <source srcset="https://ireava.sirv.com/Images/img/countries1.webp" type="image/webp">
                        <source type="image/png" srcset="https://ireava.sirv.com/Images/img/countries1.png"><img src="https://ireava.sirv.com/Images/img/countries1.png"
                            alt="Ireava clients" class="img-responsive"></picture>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <h3 class="custom1 text-center">Where Ireava Clients are?</h3>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <h3 class="custom1 text-center">Where Ireava Clients are?</h3>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <picture>
                        <source srcset="https://ireava.sirv.com/Images/img/countries1.webp" type="image/webp">
                        <source type="image/png" srcset="https://ireava.sirv.com/Images/img/countries1.png"><img src="https://ireava.sirv.com/Images/img/countries1.png"
                            alt="Ireava clients" class="img-responsive"></picture>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section>
        <div class="container margb40 margt15">
            <div class="c-headline">
                <h3 class="head1">Recognised By</h3>
            </div>
            <div class="row">
                <div class="recognisedimg">
                    <div class="col-md-3 col-xs-6 hidden-xs"><a href='https://ireava.com/sgrg_startup_india.pdf'
                            target='_blank'>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/startupindia.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/startupindia.jpeg"><img src="img/startupindia.jpeg"
                                    alt="startupindia logo" class="img-responsive w40 center"></picture>
                        </a></div>
                    <div class="col-md-3 col-xs-6 hidden-xs">
                        <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/isb.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/isb.png"><img src="img/isb.png" alt="isb logo"
                                class="img-responsive w40 center"></picture>
                    </div>
                    <div class="col-md-3 col-xs-6 hidden-xs">
						<a href='https://www.softwaresuggest.com/ireava' target='_blank'><img src='https://www.softwaresuggest.com/award_logo/Customers-Choice-2022.png' class="img-responsive w40 center"></a>
					</div>
                    <div class="col-md-3 col-xs-6 hidden-xs"><a
                            href='https://www.goodfirms.co/software/ireava-school-erp' target='_blank'>
                            <picture>
                                <source srcset="https://ireava.sirv.com/Images/img/goodfirms.webp" type="image/webp">
                                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/goodfirms.png"><img src="img/goodfirms.png"
                                    alt="isb logo" class="img-responsive w40 center"></picture>
                        </a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 hidden-lg hidden-md hidden-sm">
                    <table class="table border-none">
                        <tbody>
                            <tr>
                                <td><img src="https://ireava.sirv.com/Images/img/startupindia.webp"
                                        class="img-responsive wp85 center" alt="startup india recognised Ireava ERP">
                                </td>
                                <td><img src="https://ireava.sirv.com/Images/img/isb.webp" class="img-responsive wp85 center"
                                        alt="isb incubated startup"></td>
                            </tr>
                            <tr>
                                <td><img src="img/softwaresuggest.webp" class="img-responsive wp85 center"
                                        alt="software suggest award Ireava ERP"></td>
                                <td><img src="https://ireava.sirv.com/Images/img/goodfirms.webp" class="img-responsive wp85 center"
                                        alt="goodfirms showcased Ireava ERP"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section>
        <div class="container margb40 margt15">
            <div class="c-headline">
                <h4 class="head1">Verify Ireava On</h4>
            </div>
            <div class="row">
                <div class="recognisedimg">
                    <div class="col-md-4 hidden-xs"><a href="https://www.softwaresuggest.com/ireava"
                            target="_blank"><img src="https://ireava.sirv.com/Images/img/softwaresuggest_logo.png" alt="software suggest"
                                class="center blogo"></a></div>
                    <div class="col-md-4 hidden-xs"><a href="https://www.trustpilot.com/review/ireava.com"
                            target="_blank"><img src="https://ireava.sirv.com/Images/img/trustpilot_logo.png" alt="trustpilot"
                                class="center blogo"></a></div>
                    <div class="col-md-4 hidden-xs"><a href="https://g.page/ireava/review?gm" target="_blank"><img
                                src="https://ireava.sirv.com/Images/img/google_logo.png" alt="google" class="center blogo"></a></div>
                    <div class="col-md-4 hidden-xs"><a
                            href="https://www.mouthshut.com/software/Ireava-reviews-925989194" target="_blank"><img
                                src="https://ireava.sirv.com/Images/img/Mouthshut_logo.png" alt="mouthshut" class="center blogo"></a></div>
                    <div class="col-md-4 hidden-xs"><a href="https://www.goodfirms.co/software/ireava-school-erp"
                            target="_blank"><img src="https://ireava.sirv.com/Images/img/Goodfirms_logo.png" alt="goodfirms"
                                class="center blogo"></a></div>
                    <div class="col-md-4 hidden-xs"><a href="https://www.techjockey.com/detail/ireava-school-erp"
                            target="_blank"><img src="https://ireava.sirv.com/Images/img/techjockey_logo.png" alt="techjockey"
                                class="center blogo"></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 hidden-lg hidden-md hidden-sm">
                    <table class="table border-none">
                        <tbody>
                            <tr>
                                <td><a href="https://www.softwaresuggest.com/ireava" target="_blank"><img
                                            src="https://ireava.sirv.com/Images/img/softwaresuggest_logo.png" alt="software suggest"
                                            class="center"></a></td>
                                <td><a href="https://www.goodfirms.co/software/ireava-school-erp" target="_blank"><img
                                            src="https://ireava.sirv.com/Images/img/Goodfirms_logo.png" alt="goodfirms" class="center"></a></td>
                            </tr>
                            <tr>
                                <td><a href="https://g.page/ireava/review?gm" target="_blank"><img
                                            src="https://ireava.sirv.com/Images/img/google_logo.png" alt="google" class="center"></a></td>
                                <td><a href="https://www.trustpilot.com/review/ireava.com" target="_blank"><img
                                            src="https://ireava.sirv.com/Images/img/trustpilot_logo.png" alt="trustpilot" class="center"></a></td>
                            </tr>
                            <tr>
                                <td><a href="https://www.mouthshut.com/software/Ireava-reviews-925989194"
                                        target="_blank"><img src="https://ireava.sirv.com/Images/img/Mouthshut_logo.png" alt="mouthshut"
                                            class="center"></a></td>
                                <td><a href="https://www.techjockey.com/detail/ireava-school-erp" target="_blank"><img
                                            src="https://ireava.sirv.com/Images/img/techjockey_logo.png" alt="trustpilot" class="center"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/custom.js"></script>
</body>

</html>