<!DOCTYPE html>
<html>

<head>
  <link rel="canonical" href="https://www.ireava.com/institute-erp" />
  <title>Best Cloud Institute, Coaching Center ERP | Multi Institute ERP | Ireava</title>
  <meta property="og:title" content="Best Cloud Institute, Coaching Center ERP | Multi Institute ERP | Ireava" />
  <meta name="keywords"
    content="Institute management software, Institute ERP Software, Institute management system, software for Institutes, ERP Portal India, Ireava, Institute ERP solution, Multi Institute ERP, Multi Institute management system, Mobile Apps for Institute, cloud ERP software for Institutes, India's Best ERP Solution, Best ERP Software for Institute, Institute erp features, why use Institute erp, Institute erp benefits, affordable Institute erp, coaching center ERP">
  <meta property="og:keywords"
    content="Institute management software, Institute ERP Software, Institute management system, software for Institutes, ERP Portal India, Ireava, Institute ERP solution, Multi Institute ERP, Multi Institute management system, Mobile Apps for Institute, cloud ERP software for Institutes, India's Best ERP Solution, Best ERP Software for Institute, Institute erp features, why use Institute erp, Institute erp benefits, affordable Institute erp, coaching center ERP">
  <meta property="og:description"
    content="India’s best leading Institute and Coaching Management System and education ERP software solution provider that transforms good Institutes into the best Institutes. We are committed to provide customized and reliable education ERP solutions. Try Free Demo.">
  <meta name="description"
    content="India’s best leading Institute and Coaching Management System and education ERP software solution provider that transforms good Institutes into the best Institutes. We are committed to provide customized and reliable education ERP solutions. Try Free Demo.">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Ireava",
      "url": "https://www.ireava.com/institute-erp/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
	<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '904711380600503');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=904711380600503&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE9CGPZ8T0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE9CGPZ8T0');
</script>
</head>

<body>
  <br /><br /><br />
  <section class="price s-section-padding paddb0">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="hero__info hero__info123">
              <h1 class="mobileh1"><span class="word11">Complete Solution For Institutes & Coaching Centers</span></h1>
              <h3 class="mobileh3">Performance Reports. Manage Website. 10+ Modules.</h3>
              <p>&nbsp;</p>
            </div>
            <div class="hero__download">
              <a class="c-btn c-btn--action -big video-btn hand"
              id="exampleImage" data-videourl="https://www.youtube.com/embed/zW1IFnMIDhk">
              Watch Video
            </a>
              <a class="c-btn c-btn--primary -big hand" href="https://whatsform.com/94Gj32" target="_blank">
                <span>Register For Demo!</span>
              </a>
            </div>
          </div>
          <div class="col-sm-5 margb40">
            <div id="owl-carousel3" class="owl-carousel owl-theme">
              <div>
                <img src="https://ireava.sirv.com/Images/img/inst001.svg" alt="ireava institute erp" class="img-responsive">
              </div>
              <div>
                <img src="https://ireava.sirv.com/Images/img/4884388.svg" alt="ireava institute erp" class="img-responsive">
              </div>
              <div>
                <img src="https://ireava.sirv.com/Images/img/inst002.svg" alt="ireava institute erp" class="img-responsive">
              </div>
              <div>
                <img src="https://ireava.sirv.com/Images/img/inst003.svg" alt="ireava institute erp" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section id="Instituteerp">
    <div class="container">
      <div class="c-headline">
        <span>Ireava Institute ERP</span>
        <h2>Know What Ireava ERP Does For Your Institute</h2>
        <p>Best suited for management of single Institute or multiple Institute branches who want to control every angle
          of Institute from a single platform. Get a 360-degree view of the updates from the entire Institute or group
          of Institutes which can be accessed from the super-admin dashboard.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="well wellbox1">
            <div class="row">
              <div class="col-md-12">
                <img src="https://ireava.sirv.com/Images/img/singleinstitute.png" alt="single institute erp" class="img-responsive ht150 center">
                <br />
              </div>
              <div class="col-md-12">
                <h4 class="text-center fw700">Single Institute ERP</h4>
                <p class="text-justify">
                  Ireava ERP helps the management of a single Institute to manage every part of the Institute very
                  easily. Our customer support is best rated on google. We provide 40+ modules that cover almost every
                  part of your Institute.
                </p>
                <br /><br />
                <div class="hero__download">
                  <a class="c-btn c-btn--action -big video-btn hand" onclick="document.getElementById('sound1').play();"
                    href="tel:+91-7015097673">
                    Call Us
                  </a>
                  <a class="c-btn c-btn--primary -big hand" onclick="document.getElementById('sound1').play();"
                    href="/modules">
                    <span>Explore Modules</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well wellbox1">
            <div class="row">
              <div class="col-md-12">
                <img src="https://ireava.sirv.com/Images/img/multiinstitute.png" alt="multi institute erp" class="img-responsive ht150 center">
                <br />
              </div>
              <div class="col-md-12">
                <h4 class="text-center fw700">Multiple Institute Branch ERP</h4>
                <p class="text-justify">
                  Ireava ERP helps the management of the multiple Institutes to manage every part of the Institute very
                  easily in one place. Our customer support is best rated on google. We provide 40+ modules that cover
                  almost every part of your Institute.
                </p>
                <br /><br />
                <div class="hero__download">
                  <a class="c-btn c-btn--action -big video-btn hand" onclick="document.getElementById('sound1').play();"
                    href="tel:+91-7015097673">
                    Call Us
                  </a>
                  <a class="c-btn c-btn--primary -big hand" onclick="document.getElementById('sound1').play();"
                    href="/modules">
                    <span>Explore Modules</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="margb40">
    <div class="container">
      <div class="c-headline">
        <span>Our Modules</span>
        <h2> What we offer? </h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-offset-41">
          <a class="c-btn c-btn--action video-btn anctext hand" href="https://ireava.com/Ireava_brochure.pdf" target="_blank">
            Download Ireava Brochure
          </a>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-12 tcenter">
          <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a class="anchor" data-target="#erp" aria-controls="erp" role="tab" data-toggle="tab">ERP</a></li>
                <li role="presentation"><a class="anchor" data-target="#lms" aria-controls="lms" role="tab" data-toggle="tab">LMS</a></li>
                <li role="presentation"><a class="anchor" data-target="#stdapp" aria-controls="stdapp" role="tab" data-toggle="tab">Student Application</a></li>
                <li role="presentation"><a class="anchor" data-target="#stfapp" aria-controls="stfapp" role="tab" data-toggle="tab">Staff Application</a></li>
                <li role="presentation"><a class="anchor" data-target="#add" aria-controls="add" role="tab" data-toggle="tab">Additional Services</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="erp">
                    <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="x in ierpml1">
                      <a href="{{x.link}}">
                        <div class="well report mfontwell wellsize">
                          <h4 class="text-left">{{x.text}}</h4>
                        </div>
                      </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="lms">
                  <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="y in ilmsml1">
                    <a href="{{y.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{y.text}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="stdapp">
                  <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="z in istdappm1">
                    <a href="{{z.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{z.text}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="stfapp">
                  <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="a in istfappm1">
                    <a href="{{a.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{a.text}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="add">
                  <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="c in iaddm1">
                    <a href="{{c.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{c.text}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
        </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12 bs1">
          <div class="erpbox">
         <!--   <div class="row">
              <div class="col-xs-7 col-xs-offset-3">
                <p class="code">You found it. Use Code: <span class="sgrgcode">SGRGIR10 </span> for 10% Discount on
                  any license.</p>
              </div>
            </div>-->
            <div class="well erpbox1">
              <h2 class="text-center fs22 fw600">Institute ERP Software</h2>
            </div>
          </div>
          <div class="row margt45 margb30">
            <div class="col-sm-5">
              <picture>
                <source srcset="https://ireava.sirv.com/Images/img/web1.webp" type="image/webp">
                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/web1.png">
                <img src="https://ireava.sirv.com/Images/img/web1.png" alt="ireava dashboard" class="img-responsive abc">
              </picture><br /><br />
              <picture>
                <source srcset="https://ireava.sirv.com/Images/img/roi.webp" type="image/webp">
                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/roi.jpg">
                <img src="https://ireava.sirv.com/Images/img/roi.jpg" alt="ireava roi" class="img-responsive abc">
              </picture>
            </div>
            <div class="col-sm-7">
              <div>
                <p class="text-justify strict">Introducing the <span class="fw700">powerful SaaS-based ERP</span>
                  for your Institute & Coaching Centers which has 100% everything in one place.
                  We <span class="fw700">assured quality</span> ERP to the Institutes which are highly
                  Customizable. You don't need to use multiple software to manage your institution. We have <span
                    class="fw700">30+ modules and also a customization on-demand process.</span>
                  Ireava cloud-based Institute ERP converts people-driven to process-driven ensuring streamlined
                  day-to-day
                  Institute processes.
                  Step into the world of out-of-the-box Ireava Institute ERP so that you get time to focus on the core
                  of
                  your organization.</p>
                <br />
                <div class="slideshow-container">
                  <div class="mySlides">
                    <p class="fw700">Benefits of Ireava ERP For Institutes</p>
                    <ul class="pl5">
                      <li>Daily updates of Institute activities to staff, students and parents.</li>
                      <li>Reduce paperwork and man work.</li>
                      <li>Allocate and manage resources properly.</li>
                      <li>Helps to build strong relationships between parents and Institute.</li>
                      <li>Helps to manage multi branches of Institutes.</li>
                      <li>Accurate & optimized data anytime.</li>
                      <li>Streamline financial management.</li>
                      <li>100% optimum ERP for Institute that you can control anywhere, anytime.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>
                  <div class="mySlides">
                    <p class="fw700">Benefits of Ireava ERP For Institute Owners</p>
                    <ul class="pl5">
                      <li>Ireava helps to reduce paperwork and record books.</li>
                      <li>Ireava makes strong communication between Institute and parents.</li>
                      <li>Ireava will help you to manage your Institute at every level smartly.</li>
                      <li>Ireava will provide you complete finance-related reports.</li>
                      <li>Ireava will always provide 24/7 service.</li>
                      <li>Communicate in real-time with Institute staff.</li>
                      <li>Ireava is the best Institute ERP that upgrades your institute digitally just in clicks.</li>
                      <li>Ireava helps you to get more admissions with a better product.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>
                  <div class="mySlides">
                    <p class="fw700">Benefits of Ireava Institute ERP For Staff</p>
                    <ul class="pl5">
                      <li>Create and Conduct online exams with the application so easily.</li>
                      <li>Manage classes, exams, results and other assigned modules.</li>
                      <li>Provide homework, assignments and lectures on application.</li>
                      <li>Manage tasks, reminders, docs, and other activities.</li>
                      <li>Check attendance report from data to date.</li>
                      <li>Communicate in real-time with Institute staff and parents.</li>
                      <li>Apply for a leave on the application.</li>
                      <li>Take online classes easily on application.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>

                  <div class="mySlides">
                    <p class="fw700">Benefits of Ireava Institute ERP For Parents</p>
                    <ul class="pl5">
                      <li>Get to know about children's attendance and exam performance.</li>
                      <li>Get updates about children's assignments from Institute.</li>
                      <li>Get event updates from the Institute.</li>
                      <li>Helps students to engage with Institute activities effectively.</li>
                      <li>Communicate in real-time with Institute staff.</li>
                      <li>Pay fee online and check dues, other details on application.</li>
                      <li>Manage multiple children in one account.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>
                  <div class="mySlides">
                    <p class="fw700">Benefits of Ireava Institute ERP For Students</p>
                    <ul class="pl5">
                      <li>Track your academic performance.</li>
                      <li>Access lecture contents and raise doubts.</li>
                      <li>Get event updates from Institute.</li>
                      <li>Give online exams on application.</li>
                      <li>Communicate in real time with Institute staff.</li>
                      <li>Pay fee online and check dues, other details on application.</li>
                      <li>Submit assignment online with the updated status.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>
                  <div class="mySlides">
                    <p class="fw700">Overall Benefits of Ireava Institute ERP</p>
                    <ul class="pl5">
                      <li>Helps to manage complete Institute administrative work.</li>
                      <li>40+ reports and modules provided by Ireava including visual data charts.</li>
                      <li>Helps to manage staff and their work effectively.</li>
                      <li>Communication between Institute and parents regarding the student's progress and activities.
                      </li>
                      <li>Helps students to engage with Institute activities effectively.</li>
                      <li>Automate plugins for finance, exam, attendance and communication module.</li>
                      <li>E-learning system to provide online classes, exams, content, homework to the students.</li>
                      <li>Interactive branded Institute name application.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>

                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="text-center margt15">
                      <a class="prev" onclick="plusSlides(-1)"> <i class="fa fa-angle-left"></i></a>
                      <a class="next" onclick="plusSlides(1)"><i class="fa fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <hr />
  <section>
    <div class="container">
      <div class="c-headline clientpadding">
      <h3 class="head1">Ireava ERP Benefits</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="well wellbox1">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center fw700">Single Institute ERP</h4>
                <ul class="lstn">
                  <li>
                    Daily updates of Institute activities to staff,
                    students and parents.
                  </li>
                  <li>
                    Reduce paper work and man work.
                  </li>
                  <li>
                    Streamline financial manage.
                  </li>
                  <li>
                    100% optimum ERP for Institute that you can control
                    anywhere, anytime.
                  </li>
                  <li>
                    Students exam performance analysis.
                  </li>
                  <li> Manages your Institute at every level smartly.</li>
                  <li> Automate Admission, Fees process.</li>
                  <li> Upgrades your Institute at next level.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well wellbox1">
            <div class="row">

              <div class="col-md-12">
                <h4 class="text-center fw700">Multiple Institute Branch ERP</h4>
                <ul class="lstn">
                  <li>
                    Access multiple branches using single login.
                  </li>
                  <li> Easy to check any branch on one click.</li>
                  <li>
                    Daily updates of Institute activities to staff,
                    students and parents.
                  </li>
                  <li>
                    Reduce paper work and man work.
                  </li>
                  <li>
                    Streamline financial manage.
                  </li>
                  <li>
                    100% optimum ERP for Institute that you can control
                    anywhere, anytime.
                  </li>
                  <li>
                    Students exam performance analysis.
                  </li>
                  <li> Manages your Institute at every level smartly.</li>
                  <li> Automate Admission, Fees process.</li>
                  <li> Upgrades your Institute at next level.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="simplepowerful counter  s-section-padding s-section-alt s-back-grad">
    <div class="c-overlay s-pattern"></div>
    <div class="container">
      <div class="c-headline">
        <h3 class="headwhite head1 mobileh3 margt15">Register For Ireava Institute ERP</h3>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="fs24 text-center cwhite strict">Get the most trusted and growing Institute ERP developed after the Deep
            Researched and the best Customer Support Satisfaction.
          </p><br />
          <div class="row margb30">
            <div class="col-xs-12 col-sm-offset-4">
              <a href="tel:+91-7015097673" onclick="document.getElementById('sound1').play();"
                class="c-btn c-btn--action video-btn">Call Us</a>
              &nbsp;&nbsp;&nbsp;
              <a href="/pricing" onclick="document.getElementById('sound1').play();"
                class="c-btn c-btn--primary">Pricing</a><br/><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
		<br/>
	  <section>
    <div class="container">
            <div class="row">
                    <div class="col-md-12">
                            <div class="c-headline clientpadding">
                                    <h2>FAQ</h2>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-8">
                            <div class="panel-group" id="accordion1">
                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                                    data-parent="#accordion1"
                                                                    data-target="#collapse1">
                                                                    <i class="fas fa-pencil-alt"></i> What Is A Institute Management Software?
                                                            </a>
                                                    </h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                             <p>  The Institute management system is an ERP solution that enables institute to manage & simplify online admissions, assignments, online/offline exams, fees, attendance management, study center, Course selling etc. The institute automation software can be integrated with efficient institute ERP for better productivity.</p>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                                    data-parent="#accordion1"
                                                                    data-target="#collapse2"
                                                                    class="collapsed">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                    How Much Does A Institute Management ERP Software Cost?
                                                            </a>
                                                    </h4>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                    <p>  The cost of institute management software varies depending on aspects like - total number of modules, student capacity, features & functionalities, implementation services, etc. On average, the price of institute ERP software in India falls in the range of 0 to 250 Rs Per Student Per Year.<span class="fw600"> But Ireava charges as per plans because it cost too much for the institutes to pay as per student capacity. We offer simple and affordable plans. <a href="/pricing"> Check our pricing.</a></span></p>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                                    data-parent="#accordion1"
                                                                    data-target="#collapse3"
                                                                    class="collapsed">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                    Can we get refund if not satisfied?
                                                            </a>
                                                    </h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                         <p>   Yes, we provide till 30 days if not satisfied with our product. You can claim 100% refund within 30 days of purchase date.</p>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                                    data-parent="#accordion1"
                                                                    data-target="#collapse4"
                                                                    class="collapsed">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                    How do I get coupons on Ireava ERP?
                                                            </a>
                                                    </h4>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <p>    We added a hidden coupon on our website. You can find the coupon code on our website and search for "ireava coupon code" on google.</p>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                                    data-parent="#accordion1"
                                                                    data-target="#collapse5"
                                                                    class="collapsed">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                    What Institute ERP Modules Ireava Offers?
                                                            </a>
                                                    </h4>
                                            </div>
                                            <div id="collapse5" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                           <span class="fw600"> Below listed Ireava ERP modules you will get in every plan you purchase.</span><br/>
                                                           <ul>
                                                             <li>Admission, Fees, Payroll, Leave, Roles Management.</li>
                                                             <li>Student and Staff Management.</li>
                                                             <li>Inventory, Communication, Online/Offline Exam, Income, Expense, Academics Management.</li>
                                                             <li>Study Center, Lesson Plan, Homework, Reception Desk.</li>
                                                             <li>Student/Parent Mobile App.</li>
                                                             <li>Staff, Student/Parent Web Login.</li>
                                                           </ul>
                                                    </div>
                                            </div>
                                    </div>

                            </div>
                    </div>


            </div>

    </div>
</section>

  <script type="text/javascript">
    var count11 = 0;
    var names11 = ['Complete Solution For Institutes & Coaching Centers', 'Get Analysed Reports of Student Performance',
      'Provide Asssignments and Study materials', 'Communicate With Students and Parents Easily',
      'Conduct & Schedule Online Exams'
    ];
    var namesContainer11 = document.getElementsByClassName('word11');
    setInterval(function () {
      for (var k = 0; k < 5; k++) {
        namesContainer11[k].innerHTML = names11[count11];
        count11++;
        if (count11 == names11.length) {
          count11 = 0;
        };
      }
    }, 4000);
  </script>
  
  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>

  <script>
    $('#owl-carousel3').owlCarousel({
      loop: true,
      margin: 30,
      dots: false,
      nav: true,
      items: 1,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true
    })
  </script>
  <script>
    var img = $("#exampleImage");
    var configObject = {
      sourceUrl: img.attr("data-videourl"),
      triggerElement: "#" + img.attr("id"),
      progressCallback: function () {
        console.log("Callback Invoked.");
      }
    };
    var videoBuild = new YoutubeOverlayModule(configObject);
    videoBuild.activateDeployment();
  </script>
</body>

</html>