<!DOCTYPE html>
<html>
<head>
        <link rel="canonical" href="https://www.ireava.com/pricing"/>
        <title>	Pricing | Ireava.com</title>
        <meta property="og:title" content="Pricing | Ireava.com"/>
        <meta name="description" content="Pricing plans of Ireava school management system software and Ireava ERP." />
        <meta property="og:description" content="Pricing plans of Ireava school management system software and Ireava ERP." />
	 <meta property="og:keywords" content="School ERP pricing, Ireava pricing, school software pricing, affordable school erp pricing"/>
	 <meta name="keywords" content="School ERP pricing, Ireava pricing, school software pricing, affordable school erp pricing"/>
        <script type="application/ld+json">
          {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Ireava",
            "url": "https://www.ireava.com/pricing/",
            "potentialAction": {
              "@type": "SearchAction",
              "target": "{search_term_string}",
              "query-input": "required name=search_term_string"
            }
          }
          </script>
	<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '904711380600503');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=904711380600503&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE9CGPZ8T0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE9CGPZ8T0');
</script>
</head> 
<body>
  <br />
  <br />
  <br />
  <section id="pricing" class="price s-section-padding">
    <div class="container-fluid">
      <div class="c-headline">
        <span>{{pricel1}}</span>
        <h1>{{pricel2}}</h1>
        <p>{{pricel3}}</p>
      </div>
<!-- <div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-sm-offset-right-4">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-sm-offset-right-3">
      <div class="tab-button-outer">
        <ul id="tab-button" class="nav nav-pills">
          <li class="active" id="linnks"><a data-toggle="pill"  href="#tab01" class="linnks" title="These prices are for India only."><i class="fas fa-rupee-sign fa-sm"></i> INR</a>
        </li>
          <li id="linnks"><a data-toggle="pill"  href="#tab02" title="These prices are for countries except India."> <i class="fas fa-dollar-sign fa-sm"></i> USD <i onclick="myFunction()" class="fas fa-info-circle fa-sm"></i></a> </li>
        </ul>
        <div id="myDIV">
          USD prices are applicable on countries other than India.
          </div>
      </div>
    </div>
    </div>
    </div>
    </div> -->
<br/>
    
      <div id="tab01" class="tab-contents">
      <div class="tabs">
        <input type="radio" id="tab1" name="tab-control" checked >
        <input type="radio" id="tab2" name="tab-control" >
        <input type="radio" id="tab3" name="tab-control" >

        <ul>
          <li title="Free" class="lstn hideliimg"><label class="text-right" for="tab1" role="button"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
         <g>
           <path d="{{pathb1}}"/>
           <path d="{{pathb2}}"/>
           <path d="{{pathb3}}"/>
         </g>
         </svg><br><span class="indicator1">Monthly</span></label></li>
          <li title="Standard" class="lstn hideliimg"><label for="tab2" role="button"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
         <g>
           <path d="{{paths1}}"/>
         </g>
         </svg><br><span class="indicator1">Quarterly</span></label></li>
          <li title="Premium" class="lstn hideliimg"><label class="text-left" for="tab3" role="button"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
         <g>
           <path d="{{pathp1}}"/>
           <path d="{{pathp2}}"/>
           <path d="{{pathp3}}"/>
           <path d="{{pathp4}}"/>
         </g>
         </svg><br><span class="indicator1">Yearly</span></label></li>
        </ul>

        <!-- <div class="slider">
          <div class="indicator"></div>
        </div> -->
        <div class="content price111 bxsn">
          <section>
            <h2>Monthly</h2>
            <div class="row">
              <div class="col-md-3 padd0" ng-repeat="x in basic">

                <div class="price__table {{x.tablecolor}} s-primary-content wow fadeInUp">

                  <div class="price__header">
                    <div class="{{x.ribbon}}"> <span>{{x.ribbonvalue}}</span> </div>
                    <img src="img/{{x.img}}" class="table__header--icon" alt="School Plan Icon">

                    <h3 class="pricetag">{{x.pricetag}}</h3>
                    <p class="pricetag1">{{x.plancode}}</p>
                  </div>

                  <div class="price__content price111">

                    <ul class="price__content--list">

                      <li ng-repeat="xp in x.list">
                        <span data-toggle="tooltip" data-placement="bottom" title="">
                           {{xp}}</span>
                      </li>
                    
                    </ul>

                  </div>

                  <div>
                    <ul class="price__footer">
                      <li>
                        <p class="pricetag {{x.priceclass}}">{{x.price}}</p>
                      </li>
                      <li>
                        <a href="javascript:void(0)"  data-toggle="modal" data-target="#{{x.monthly}}"><span class="pricetag pricereq fs12 maincolor">{{x.checkprice}}</span></a>
                      </li>
                      <br />
                      <li>
						     <a ng-href="{{whatsapp}}"  class="c-btn c-btn--action"><i class="fab fa-whatsapp fa-lg"></i></a>
						  		           <a ng-href="{{phone}}"  class="c-btn c-btn--action"><i class="fas fa-phone-alt fa-lg" ></i></a> 
                      </li>
                    </ul>
					</div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2>Quarterly</h2>
            <div class="row">
              <div class="col-md-3 padd0" ng-repeat="y in standard">

                <div class="price__table {{y.tablecolor}} s-primary-content wow fadeInUp">

                  <div class="price__header">
                    <div class="{{y.ribbon}}"> <span>{{y.ribbonvalue}}</span> </div>
                    <img src="img/{{y.img}}" class="table__header--icon" alt="School Plan Icon">

                    <h3 class="pricetag">{{y.pricetag}}</h3>
                    <p class="pricetag1">{{y.plancode}}</p>
                  </div>

                  <div class="price__content price111">

                    <ul class="price__content--list">

                      <li ng-repeat="yp in y.list">
                        <span data-toggle="tooltip" data-placement="bottom" title="">
                          {{yp}}</span>
                      </li>
                    
                    </ul>

                  </div>

                  <div>
                    <ul class="price__footer">
                      <li>
                        <p class="pricetag {{y.priceclass}}">{{y.price}}</p>
                      </li>
                      <li>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#{{y.monthly}}"><span class="pricetag pricereq fs12 maincolor">{{y.checkprice}}</span></a>
                      </li>
                      <br />
                      <li>
						     <a ng-href="{{whatsapp}}" class="c-btn c-btn--action"><i class="fab fa-whatsapp fa-lg"></i></a>
						  		           <a ng-href="{{phone}}" class="c-btn c-btn--action"><i class="fas fa-phone-alt fa-lg" ></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </section>
          <section>
            <h2>Yearly</h2>
            <div class="row">

              <div class="col-md-3 padd0" ng-repeat="z in premium">

                <div class="price__table {{z.tablecolor}} s-primary-content wow fadeInUp">

                  <div class="price__header">
                    <div class="{{z.ribbon}}"> <span>{{z.ribbonvalue}}</span> </div>
                    <img src="img/{{z.img}}" class="table__header--icon" alt="School Plan Icon">

                    <h3 class="pricetag">{{z.pricetag}}</h3>
                    <p class="pricetag1">{{z.plancode}}</p>
                  </div>

                  <div class="price__content price111">

                    <ul class="price__content--list">

                      <li ng-repeat="zp in z.list">
                        <span data-toggle="tooltip" data-placement="bottom" title="">
                         {{zp}}</span>
                      </li>
                    
                    </ul>

                  </div>

                  <div>
                    <ul class="price__footer">
                      <li>
                        <p class="pricetag {{z.priceclass}}">{{z.price}}</p>
                      </li>
                      <li>
                        <a href="javascript:void(0)"  data-toggle="modal" data-target="#{{z.monthly}}"><span class="pricetag pricereq fs12 maincolor">{{z.checkprice}}</span></a>
                      </li>
                      <br />
                      <li>
						     <a ng-href="{{whatsapp}}"  class="c-btn c-btn--action"><i class="fab fa-whatsapp fa-lg"></i></a>
						  		           <a ng-href="{{phone}}"  class="c-btn c-btn--action"><i class="fas fa-phone-alt fa-lg" ></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            
          </section>
        </div>
      </div>
</div>
<!-- <div id="tab02" class="tab-contents">
  <div class="row">
    <div class="col-md-4 padd0" ng-repeat="q in standard11">

      <div class="price__table {{q.tablecolor}} s-primary-content wow fadeInUp">

        <div class="price__header">
          <div class="{{q.ribbon}}"> <span>{{q.ribbonvalue}}</span> </div>
          <img src="img/{{q.img}}" class="table__header--icon" alt="School Plan Icon">

          <h3 class="pricetag">{{q.pricetag}}</h3>
          <p class="pricetag1">{{q.plancode}}</p>
        </div>

        <div class="price__content price111">

          <ul class="price__content--list">

            <li ng-repeat="qp in q.list">
              <span data-toggle="tooltip" data-placement="bottom" title="">
                {{qp}}</span>
            </li>
          
          </ul>

        </div>

        <div>
          <ul class="price__footer">
            <li>
              <p class="pricetag {{q.priceclass}}">{{q.price}}</p>
            </li>
            <li>
              <a href="javascript:void(0)"  data-toggle="modal" data-target="#{{q.monthly}}"><span class="pricetag pricereq fs12 maincolor">{{q.checkprice}}</span></a>
            </li>
            <br />
            <li>
       <a ng-href="{{whatsapp}}"  class="c-btn c-btn--action"><i class="fab fa-whatsapp fa-lg"></i></a>
                   <a ng-href="{{phone}}"  class="c-btn c-btn--action"><i class="fas fa-phone-alt fa-lg" ></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
    </div>

 <div class="container">
      <div class="row">
	<div class="col-md-12">
		<span>Please note: The pricing mentioned here is applicable for the first year only. Upon renewal in the second year, there may be an increase of up to 12% based on the previous year's purchased price.</span><br/><br/>
		  </div>
	<!-- <div class="col-md-4">
          <h4 class="hidden-sm hidden-xs">Pricing Plans for India <a href="./Pricing_india.pdf" target="_blank">Click here!</a></h4>
          <h5 class="visible-sm visible-xs hidden-md hidden-lg">Pricing Plans for India <a href="./Pricing_india.pdf" target="_blank">Click here!</a></h5>
        </div>
        <div class="col-md-4">
          <h4 class="text-right hidden-sm hidden-xs">Pricing Plans for Outside India <a href="./Other_countries_Pricing.pdf" target="_blank">Click here!</a></h4>
          <h5 class="visible-sm visible-xs hidden-md hidden-lg">Pricing Plans for Outside India <a href="./Other_countries_Pricing.pdf" target="_blank">Click here!</a></h5>
        </div>
		    <div class="col-md-4">
          <h4 class="text-right hidden-sm hidden-xs">AddOns Pricing <a href="./Pricing_AddOns.pdf" target="_blank">Click here!</a></h4>
          <h5 class="visible-sm visible-xs hidden-md hidden-lg">AddOns Pricing <a href="./Pricing_AddOns.pdf" target="_blank">Click here!</a></h5>
        </div> -->
      </div>
    </div>
  </section>

  
 
  <script>
  $(function() {
  var $tabButtonItem = $('#tab-button li'),
      $tabSelect = $('#tab-select'),
      $tabContents = $('.tab-contents'),
      activeClass = 'is-active';

  $tabButtonItem.first().addClass(activeClass);
  $tabContents.not(':first').hide();

  $tabButtonItem.find('a').on('click', function(e) {
    var target = $(this).attr('href');

    $tabButtonItem.removeClass(activeClass);
    $(this).parent().addClass(activeClass);
    $tabSelect.val(target);
    $tabContents.hide();
    $(target).show();
    e.preventDefault();
  });

  $tabSelect.on('change', function() {
    var target = $(this).val(),
        targetSelectNum = $(this).prop('selectedIndex');

    $tabButtonItem.removeClass(activeClass);
    $tabButtonItem.eq(targetSelectNum).addClass(activeClass);
    $tabContents.hide();
    $(target).show();
  });
});

function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
  </script>
</body>

</html>
