<!DOCTYPE html>
<html>

<head>
    <link rel="canonical" href="https://www.ireava.com/partnership"/>
    <title>	Partner with us for #1 Best School Management Software by Ireava.com</title>
    <meta property="og:title" content="Partner with us for #1 Best School Management Software by Ireava.com"/>
    <meta name="description" content="Start your own business in Edtech sector with us. Sell Ireava products and services with your brand name." />
    <meta property="og:description" content="Start your own business in Edtech sector with us. Sell Ireava products and services with your brand name." />
	 <meta property="og:keywords" content="school erp partnership, school erp OEM plans, online school erp business, erp business, tuition erp, coaching center erp"/>
	<meta name="keywords" content="school erp partnership, school erp OEM plans, online school erp business, erp business, tuition erp, coaching center erp"/>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "WebSite",
          "name": "Ireava",
          "url": "https://www.ireava.com/partnership/",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "{search_term_string}",
            "query-input": "required name=search_term_string"
          }
        }
        </script>
	<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '904711380600503');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=904711380600503&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE9CGPZ8T0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE9CGPZ8T0');
</script>
</head>

<body>
    <br /><br /><br />
    <section id="reseller" class="price s-section-padding">
        <div class="container">
            <div class="c-headline">
                <span>{{resellerl1}}</span>
                <h1>{{resellerl2}}</h1>
                <p>{{resellerl3}}</p>
            </div>
            <div class="row">
                <div class="col-md-4" ng-repeat="x in resellerp">
                    <div class="price__table {{x.tablecolor}} s-primary-content wow fadeInLeft">
                        <div class="price__header">
                            <img src="img/{{x.img}}" class="table__header--icon" alt="Distributor Ireava Program">
                            <h3>{{x.planname}}</h3>
                        </div>
                        <div class="price__content">
                            <ul class="price__content--list">
                                <li ng-repeat="xp in x.list"><span data-toggle="tooltip" data-placement="bottom" title="">
                                     {{xp}}</span></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="price__footer">
                                <li>
                                    <a href="{{whatsapp}}" class="c-btn c-btn--action c-btnbus"><i class="fab fa-whatsapp fa-lg"></i></a>
                                    <a href="{{mail}}" class="c-btn c-btn--action c-btnbus"><i class="far fa-envelope fa-lg"></i></a>
                                    <a href="./partner_pricing_model_India.pdf" target="_blank" class="c-btn c-btn--action c-btnbus"><i class="fa fa-download fa-lg"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features">
        <div class="container">
            <div class="c-headline">
                <span>benefits</span>
                <h2>What you get from Ireava?</h2>
            </div><br />
            <div class="s-primary-content market11 padd-15">
                <div class="row">
                    <div class="col-md-3 resellerbenefit" ng-repeat="y in resellerbenefit">
                        <div class="feature">
                            <div class="feature__icon">
                                <img src="https://ireava.sirv.com/Images/img/icon/{{y.img}}" alt="{{y.imgalt}}" align="center"></div>
                            <h3 class="text-uppercase">{{y.t1}}
                                <span class="text-bold">{{y.t2}}</span></h3>
                            <p class="text-justify">{{y.line}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br>
    <hr />
    <section>
        <div class="container contnmar">
            <div class="c-headline clientpadding">
                <span>{{resellerl4}}</span>
                <h2>{{resellerl5}}</h2>
            </div>

           <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-4">
            <div class="abcd">     
              <span class="icon"><i class="fas fa-project-diagram fa-2x"></i></span>
              </div>
        </div> 
        <div class="col-xs-8">
          <div class="abcd abcn"> 
            <h4><span class="count">11</span></h4>
            <p>Distributors</p>  
            </div>
            </div>   
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-4">
            <div class="abcd">     
              <span class="icon"><i class="fas fa-exchange-alt fa-2x"></i></span>
              </div>
        </div> 
        <div class="col-xs-8">
          <div class="abcd"> 
            <h4><span class="count">9</span></h4>
            <p>OEM Partners</p> 
            </div>
            </div>   
        </div>
      </div>
          </div>
			</div>
    </section>
    <hr/>
    <section>
        <div class="container contnmar">
            <div class="c-headline clientpadding">
                <span>{{resellerl6}}</span>
                <h2>{{resellerl7}}</h2>
            </div>

           <div class="row">
            <div class="col-sm-3" ng-repeat="z in resellerp1">
                <div class="row">
                    <div class="text-center col-sm-12">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x {{z.color}}"></i>
                            <i class="{{z.icon}} fa-stack-1x fa-inverse"></i>
                          </span>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-center">{{z.line}}</h4>
                    </div>
                </div>
            </div>
          </div>
          <br/>
          <div class="row">
              <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="{{whatsapp}}" class="c-btn c-btn--action"><i class="fab fa-whatsapp fa-lg"></i></a>
                <a href="{{mail}}" class="c-btn c-btn--action"><i class="far fa-envelope fa-lg"></i></a>
                    <a href="{{phone}}" class="c-btn c-btn--action"><i class="fas fa-phone-alt fa-lg"></i></a>
              </div>
          </div>
			 <!-- <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="hidden-sm hidden-xs">Partner Plans <a href="./partner_pricing_model_India.pdf" target="_blank">Click here!</a></h4>
          <h5 class="visible-sm visible-xs hidden-md hidden-lg">Partner Plans <a href="./partner_pricing_model_India.pdf" target="_blank">Click here!</a></h5>
        </div>
			</div>
				 </div> -->
          </div>
    </section>
    <br />
      <script>
        $('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 4000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
      </script>
</body>

</html>