<!DOCTYPE html>
<html>

<head>
    <link rel="canonical" href="https://www.ireava.com/schools" />
    <title>Ireava School ERP, LMS and Learning System | Ireava</title>
    <meta property="og:title" content="Ireava School ERP, LMS and Learning System | Ireava" />
    <meta name="description"
        content="Manage school at every level with Ireava ERP, teach with Ireava learning, learn with Ireava LMS | Ireava" />
    <meta property="og:description"
        content="Manage school at every level with Ireava ERP, teach with Ireava learning, learn with Ireava LMS | Ireava" />
        <meta name="keywords"
        content="School management software, School ERP Software, School management system, software for Schools, ERP Portal India, Ireava, School ERP solution, Multi School ERP, Multi School management system, Mobile Apps for School, cloud ERP software for Schools, India's Best ERP Solution, Best ERP Software for School, School erp features, why use School erp, School erp benefits, affordable School erp">
      <meta property="og:keywords"
        content="School management software, School ERP Software, School management system, software for Schools, ERP Portal India, Ireava, School ERP solution, Multi School ERP, Multi School management system, Mobile Apps for School, cloud ERP software for Schools, India's Best ERP Solution, Best ERP Software for School, School erp features, why use School erp, School erp benefits, affordable School erp">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "games",
            "name": "Ireava",
            "url": "https://www.ireava.com/schools",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
	<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '904711380600503');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=904711380600503&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE9CGPZ8T0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE9CGPZ8T0');
</script>
</head>

<body>
    <br /><br /><br />
    <section>
        <div id="brand-building" class="hero margb0 paddb0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                            <img src="../img/school11.svg" alt="school erp ireava" class="img-responsive center">
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="hero__info hero__info123">
                            <h1 class="mobileh1">Become Most Advanced & Future Ready School</h1>
                            <h3 class="mobileh3">Custom ERP Development. Learning System. Interactive Teaching.</h3>
                            <p>&nbsp;</p>
                        </div>
                        <div class="hero__download">
                            <a class="c-btn c-btn--action -big video-btn hand"
                                onclick="document.getElementById('sound1').play();" href="{{phone}}">
                                Call Us
                            </a>
                            <a href="/pricing" class="c-btn c-btn--primary -big hand"
                                onclick="document.getElementById('sound1').play();">
                                <span>Pricing</span>
                            </a>
                        </div>
                    </div>
 
                </div>
            </div>
        </div>
    </section>
    <section class="margb40">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="x in homelt1">
            <div class="feature1">
              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <div class="abcd">
                    <h4 class="hidden-xs">{{x.count}}+</h4>
                    <p class="hidden-xs fs15">{{x.name}}</p>
                    <h4 class="visible-xs hidden-sm hidden-md hidden-lg">{{x.count}}+</h4>
                    <p class="visible-xs hidden-sm hidden-md hidden-lg fs15">{{x.name}}</p>
                    <div class="layericons">
                      <i class="{{x.icon}}"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div id="brand-building" class="hero margb0 paddb0 paddt0 hologramb1">
              <div class="container">
                      <div class="row">
                              <div class="col-sm-3 col-sm-offset-1 col-sm-push-8">
                                      <img src="img/hologram.png" alt="learning with hologram using the Ireava ERP" class="img-responsive imgg center">
                              </div>
                              <div class="col-sm-8 col-sm-pull-4">

                                      <div class="hero__info hero__info123">
                                              <h2 class="hidden-xs text-left">{{holo5}}</h2>
                                              <p
                                                      class="text-left fs20 fw600 hidden-lg hidden-md hidden-sm visible-xs">
                                                      {{holo5}}</p>
                                              <h3 class="text-left fw600 hidden-xs">{{holo6}}</h3>
                                              <p
                                                      class="text-left fs18 fw600 hidden-lg hidden-md hidden-sm visible-xs">
                                                      {{holo6}}</p>
                                              <p class="text-justify">{{holo7}}</p>
                                              <p class="text-left fs22 fw600">{{holo8}}</p>
                                      </div>
                                      <div class="hero__download">
                                              <a class="c-btn c-btn--action -big video-btn hand"
                                                      onclick="document.getElementById('sound1').play();"
                                                      id="exampleImage"
                                                      data-videourl="https://www.youtube.com/embed/vQISegtvPsw">
                                                      Watch Video
                                              </a>
                                              <a href="{{whatsapp}}"
                                                      target="_blank" class="c-btn c-btn--primary -big hand"
                                                      onclick="document.getElementById('sound1').play();">
                                                      <span>Get Quote</span>
                                              </a>
                                      </div>
                              </div>

                      </div>
              </div>
		      </div>
</section>
    <section id="features" class="features margb50 margt50">
        <div class="container">
            <div class="c-headline">
                <h2>Schools That Trust Us</h2>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12">
                  <div id="owl-carousel4" class="owl-carousel owl-theme">
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/1.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/1.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/1.png" alt="springtide school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/2.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/2.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/2.png" alt="devki school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/3.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/3.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/3.png" alt="dgv school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/4.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/4.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/4.png" alt="edniche school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/5.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/5.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/5.png" alt="elnino school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/6.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/6.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/6.png" alt="gps school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/7.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/7.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/7.png" alt="ips school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/8.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/8.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/8.png" alt="jesus mission school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/9.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/9.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/9.png" alt="kcis school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/10.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/10.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/10.png" alt="kr school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/11.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/11.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/11.png" alt="msl school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/12.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/12.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/12.png" alt="stms school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/13.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/13.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/13.png" alt="pink city school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/14.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/14.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/14.png" alt="rois school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/15.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/15.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/15.png" alt="rainbow school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/16.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/16.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/16.png" alt="salokaya school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/17.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/17.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/17.png" alt="savm school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/18.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/18.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/18.png" alt="rc school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/19.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/19.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/19.png" alt="nest school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/20.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/20.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/20.png" alt="vap school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/21.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/21.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/21.png" alt="yp school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/22.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/22.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/22.png" alt="laycot school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/23.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/23.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/23.png" alt="mpc school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/24.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/24.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/24.png" alt="st john school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/25.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/25.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/25.png" alt="sv school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/26.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/26.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/26.png" alt="st joseph school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/27.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/27.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/27.png" alt="st michael school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/28.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/28.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/28.png" alt="md school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/29.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/29.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/29.png" alt="dp school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/30.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/30.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/30.png" alt="gopal academy" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/31.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/31.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/31.png" alt="st xavier school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/32.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/32.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/32.png" alt="fh academy" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/33.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/33.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/33.png" alt="vt" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/34.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/34.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/34.png" alt="adarsh children school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/35.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/35.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/35.png" alt="adarsh school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/36.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/36.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/36.png" alt="balaji school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/37.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/37.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/37.png" alt="ggp school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/38.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/38.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/38.png" alt="sdv" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/39.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/39.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/39.png" alt="rkvm school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                      <div class="col-md-3 col-xs-3 schoollist">
                        
                          <picture>
                            <source srcset="https://ireava.sirv.com/Images/img/schools/40.webp" type="image/webp">
                            <source type="image/png" srcset="https://ireava.sirv.com/Images/img/schools/40.png">
                            <img src="https://ireava.sirv.com/Images/img/schools/40.png" alt="st teresa school" class="img-responsive abc">
                          </picture>
                        
                      </div>
                    </div>
              </div>
          </div>
        </div>
    </section>
    <hr />
    <section id="features" class="features margb50 margt50">
        <div class="container">
            <div class="c-headline">
                <h2>READ WHAT SOME OF OUR CUSTOMERS ARE SAYING</h2>
            </div>
            <br />
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div id="owl-carousel5" class="owl-carousel owl-theme">
                    <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                      <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
                        Ireava school management software is really a pocket saver and its modules are easy to use.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
                      <p class="review-name text-center fsitalic">Nadar Saraswati Matriculation Higher
                        Secondary School.</p>
                      <br />
                        <div>
                          <img src="img/5-star.svg" alt="5 star" class="ratingheight">
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                      <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
                        Ireava school management software is very good and cost effective.<i class="fa fa-quote-right"
                          aria-hidden="true"></i></p>
                      <p class="review-name text-center fsitalic">Jesus Mission School</p>
                      <br />
                        <div>
                          <img src="img/5-star.svg" alt="5 star" class="ratingheight">
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                      <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
                        Ireava school software works well for my school with the RFID Attendance system.<i
                          class="fa fa-quote-right" aria-hidden="true"></i></p>
                      <p class="review-name text-center fsitalic">KCIS Merta Road</p>
                      <br />
                        <div>
                          <img src="img/5-star.svg" alt="5 star" class="ratingheight">
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                      <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
                        Ireava Software is best in pricing with RFID Attendance System.<i class="fa fa-quote-right"
                          aria-hidden="true"></i></p>
                      <p class="review-name text-center fsitalic">Ashoka Public School</p>
                      <br />
                        <div>
                          <img src="img/5-star.svg" alt="5 star" class="ratingheight">
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                      <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
                        We love the product and really satisfied with the product and the services.<i class="fa fa-quote-right"
                          aria-hidden="true"></i></p>
                      <p class="review-name text-center fsitalic">SRI Valliammal School</p>
                      <br />
                        <div>
                          <img src="img/5-star.svg" alt="5 star" class="ratingheight">
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-md-offset-right-1">
                      <p class="text-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
                        We love the product and really satisfied with the product and the services.<i class="fa fa-quote-right"
                          aria-hidden="true"></i></p>
                      <p class="review-name text-center fsitalic">SRI Valliammal School</p>
                      <br />
                        <div>
                          <img src="img/5-star.svg" alt="5 star" class="ratingheight">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
    <hr />
    <section class="margb40">
      <div class="container">
        <div class="c-headline">
          <span>{{school1}}</span>
          <h2>{{school2}} </h2>
        </div>
        <div class="row">
          <div class="col-md-4" ng-repeat="z in homelt3">
            <div class="well wellbox1">
                <picture class="center">
                  <source srcset="img/{{z.img}}.webp" type="image/webp">
                  <source type="image/png" srcset="img/{{z.img}}.png">
                  <img src="img/{{z.img}}.png" alt="{{z.imgalt}}" class="img-responsive">
                </picture>
              <div class="blog__content">
                <h3 class="text-center">
                  <a href="javascript:void(0)">{{z.title}}</a>
                </h3>
                <p class="text-justify">{{z.text}}
                </p>
              </div>
              <button class="btn1123 center"><a href="/{{z.link}}" class="affixhref1">Know More</a></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="simplepowerful counter  s-section-padding s-section-alt s-back-grad">
        <div class="c-overlay s-pattern"></div>
        <div class="container">
            <div class="c-headline">
              <h3 class="headwhite head1 mobileh3">{{school3}}</h3>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="fs24 text-center cwhite strict">{{school4}}
                    </p><br />
                    <div class="row margb30">
                        <div class="col-xs-12 col-sm-offset-4">
                            <a href="{{phone}}" class="c-btn c-btn--action video-btn">Call Us</a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="/{{footerl}}" class="c-btn c-btn--primary">{{footerlt}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    var img = $("#exampleImage");
  var configObject = {
    sourceUrl: img.attr("data-videourl"),
    triggerElement: "#" + img.attr("id"),
    progressCallback: function() {
      console.log("Callback Invoked.");
    }
  };
  var videoBuild = new YoutubeOverlayModule(configObject);
    videoBuild.activateDeployment();
  </script>
    <script>
           $('#owl-carousel5').owlCarousel({
      loop: true,
      margin: 30,
      dots: false,
      nav: true,
      items: 1,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true
    })
        $('#owl-carousel4').owlCarousel({
          margin: 10,
          responsiveClass: true,
          dots: false,
          responsive: {
            0: {
              items: 2,
              nav: true,
              loop: true,
              autoplay: true,
              autoplayTimeout: 3000,
              autoplayHoverPause: true
            },
            600: {
              items: 3,
              nav: true,
              loop: true,
              autoplay: true,
              autoplayTimeout: 3000,
              autoplayHoverPause: true
            },
            1000: {
              items: 5,
              nav: true,
              loop: true,
              autoplay: true,
              autoplayTimeout: 3000,
              autoplayHoverPause: true
            }
          }
        })
      </script>
</html>