<!DOCTYPE html>
<html>

<head>
  <link rel="canonical" href="https://www.ireava.com/school-erp" />
  <title>Best Cloud Single & Multi School ERP System | Ireava</title>
  <meta property="og:title" content="Best Cloud Single & Multi School ERP System | Ireava" />
  <meta name="keywords"
    content="School management software, School ERP Software, School management system, software for Schools, ERP Portal India, Ireava, School ERP solution, Multi School ERP, Multi School management system, Mobile Apps for School, cloud ERP software for Schools, India's Best ERP Solution, Best ERP Software for School, School erp features, why use School erp, School erp benefits, affordable School erp">
  <meta property="og:keywords"
    content="School management software, School ERP Software, School management system, software for Schools, ERP Portal India, Ireava, School ERP solution, Multi School ERP, Multi School management system, Mobile Apps for School, cloud ERP software for Schools, India's Best ERP Solution, Best ERP Software for School, School erp features, why use School erp, School erp benefits, affordable School erp">
  <meta property="og:description"
    content="India’s best leading School Management System and education ERP software solution provider that transforms good Schools into the best Schools. Try Free Demo.">
  <meta name="description"
    content="India’s best leading School Management System and education ERP software solution provider that transforms good Schools into the best Schools. Try Free Demo.">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Ireava",
      "url": "https://www.ireava.com/school-erp/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
	<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '904711380600503');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=904711380600503&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE9CGPZ8T0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE9CGPZ8T0');
</script>
</head>

<body>
  <br /><br /><br />
  <section class="price s-section-padding paddb0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="hero__info hero__info123">
            <h1 class="mobileh1"><span class="word11">All In One Complete ERP Solution For School</span></h1>
            <h3 class="mobileh3">Automate Modules. Quality Assured. 100% Complete Powerful ERP.</h3>
            <p>&nbsp;</p>
          </div>
          <div class="hero__download">
            <a class="c-btn c-btn--action -big video-btn hand"
            id="exampleImage" data-videourl="https://www.youtube.com/embed/zW1IFnMIDhk">
            Watch Video
          </a>
            <a class="c-btn c-btn--primary -big hand" href="https://whatsform.com/94Gj32" target="_blank">
              <span>Register For Demo!</span>
            </a>
          </div>
        </div>
        <div class="col-sm-6 margb40">
          <div id="owl-carousel2" class="owl-carousel owl-theme">
            <div>
              <img src="https://ireava.sirv.com/Images/img/2094546.svg" alt="school erp ireava" class="img-responsive">
            </div>

            <div>
              <img src="https://ireava.sirv.com/Images/img/4884312.svg" alt="school erp ireava" class="img-responsive">
            </div>

            <div>
              <img src="https://ireava.sirv.com/Images/img/4884388.svg" alt="school erp ireava" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="schoolerp">
    <div class="container">
      <div class="c-headline">
        <span>Ireava School ERP</span>
        <h2>Know Why You Need School ERP</h2>
        <p class="text-justify">School ERP software is a robust, time-saving educational ERP system integrated with the advanced modules to enable staff to digitize the daily work processes of educational institutions. Also referred to as a school management system, Ireava school ERP software simplifies the complex administrative & non-administrative tasks including online admission, online fees management, examination management, online exams, timetable, schedule planning, teaching-learning, etc. Thus, the benefits of the school management system are numerous in terms of improving productivity, efficiency & definitely for ROI.
          School management software is designed to track and record the administrative work of schools and educational institutions. It has all the modules that help faculty and staff to maintain all student records like managing academic records, fees management, timetable management, and all other required information of the institution. Overall it is specially designed to manage all the administrative work of schools and institutions.
          Ireava School Management ERP aims at easing the administrative processes and enhancing efficiency, and productivity. The solution is cloud-based and supports various necessary technologies such as – Online payment gateway, RFID smart cards, biometric, mobile apps, email, and SMS alerts, etc. School management software is agile and can be tailored according to the requirements of the institution.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="well wellbox1">
            <div class="row">
              <div class="col-md-12">
                <img src="https://ireava.sirv.com/Images/img/singleschool.png" alt="single school erp" class="img-responsive ht150 center">
                <br />
              </div>
              <div class="col-md-12">
                <h4 class="text-center fw700">Single School ERP</h4>
                <p class="text-justify">
                  Ireava ERP helps the management of a single school to manage every part of the school very easily. Our
                  customer support is best rated on google. We provide 40+ modules which cover almost every part of your
                  school.
                </p>
                <br /><br />
                <div class="hero__download">
                  <a class="c-btn c-btn--action -big video-btn hand" onclick="document.getElementById('sound1').play();"
                    href="tel:+91-7015097673">
                    Call Us
                  </a>
                  <a class="c-btn c-btn--primary -big hand" onclick="document.getElementById('sound1').play();"
                    href="/modules">
                    <span>Explore Modules</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well wellbox1">
            <div class="row">
              <div class="col-md-12">
                <img src="https://ireava.sirv.com/Images/img/multipleschool.png" alt="multi school erp" class="img-responsive ht150 center">
                <br />
              </div>
              <div class="col-md-12">
                <h4 class="text-center fw700">Multiple School Branch ERP</h4>
                <p class="text-justify">
                  Ireava ERP helps the management of a multiple schools to manage every part of the school very easily
                  in one place. Our
                  customer support is best rated on google. We provide 40+ modules that cover almost every part of your
                  school.
                </p>
                <br /><br />
                <div class="hero__download">
                  <a class="c-btn c-btn--action -big video-btn hand" href="tel:+91-7015097673">
                    Call Us
                  </a>
                  <a class="c-btn c-btn--primary -big hand" href="/modules">
                    <span>Explore Modules</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="margb40">
    <div class="container">
      <div class="c-headline">
        <span>Our Modules</span>
        <h2> What we offer? </h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-offset-41">
          <a class="c-btn c-btn--action video-btn anctext hand" href="https://ireava.com/Ireava_brochure.pdf" target="_blank">
            Download Ireava Brochure
          </a>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-12 tcenter">
          <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a class="anchor" data-target="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic ERP</a></li>
                <li role="presentation"><a class="anchor" data-target="#standard" aria-controls="standard" role="tab" data-toggle="tab">Standard ERP</a></li>
                <li role="presentation"><a class="anchor" data-target="#premium" aria-controls="premium" role="tab" data-toggle="tab">Premium ERP</a></li>
                <li role="presentation"><a class="anchor" data-target="#lms" aria-controls="lms" role="tab" data-toggle="tab">LMS</a></li>
                <li role="presentation"><a class="anchor" data-target="#stdapp" aria-controls="stdapp" role="tab" data-toggle="tab">Student Application</a></li>
                <li role="presentation"><a class="anchor" data-target="#stfapp" aria-controls="stfapp" role="tab" data-toggle="tab">Staff Application</a></li>
                <li role="presentation"><a class="anchor" data-target="#digilib" aria-controls="digilib" role="tab" data-toggle="tab">Digital Library</a></li>
               <!-- <li role="presentation"><a class="anchor" data-target="#add" aria-controls="add" role="tab" data-toggle="tab">Additional Services</a></li> -->
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="basic">
                    <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="x in basicerp1">
                      <a href="{{x.link}}">
                        <div class="well report mfontwell wellsize">
                          <h4 class="text-left">{{x.text}}</h4>
                        </div>
                      </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="standard">
                  <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="q in standarderp1">
                    <a href="{{q.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{q.text}}</h4>
                      </div>
                    </a>
                  </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="premium">
                <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="w in premiumerp1">
                  <a href="{{w.link}}">
                    <div class="well report mfontwell wellsize">
                      <h4 class="text-left">{{w.text}}</h4>
                    </div>
                  </a>
                </div>
            </div>
                <div role="tabpanel" class="tab-pane" id="lms">
                  <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="y in lmsml1">
                    <a href="{{y.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{y.text}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="stdapp">
                  <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="z in stdappm1">
                    <a href="{{z.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{z.text}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="stfapp">
                  <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="a in stfappm1">
                    <a href="{{a.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{a.text}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="digilib">
                  <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="b in digilibm1">
                    <a href="{{b.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{b.text}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="add">
                  <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="c in addm1">
                    <a href="{{c.link}}">
                      <div class="well report mfontwell wellsize">
                        <h4 class="text-left">{{c.text}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
        </div>
        </div>
        </div>
      <div class="row">
        <div class="col-xs-12 bs1">
          <div class="erpbox">
            <div class="well erpbox1">
              <h2 class="text-center fs22 fw600">School ERP Software</h2>
            </div>
          </div>
          <div class="row margt45 margb30">
            <div class="col-sm-5">
              <picture>
                <source srcset="https://ireava.sirv.com/Images/img/web1.webp" type="image/webp">
                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/web1.png">
                <img src="https://ireava.sirv.com/Images/img/web1.png" alt="ireava dashboard" class="img-responsive abc">
              </picture><br /><br />
              <picture>
                <source srcset="https://ireava.sirv.com/Images/img/roi.webp" type="image/webp">
                <source type="image/png" srcset="https://ireava.sirv.com/Images/img/roi.jpg">
                <img src="https://ireava.sirv.com/Images/img/roi.jpg" alt="ireava roi" class="img-responsive abc">
              </picture>
            </div>
            <div class="col-sm-7">
              <div>
                <p class="text-justify">Introducing the <span class="fw700">powerful SaaS-based School ERP</span>
                  for your school which has 100% everything in one place.
                  We <span class="fw700">assured quality</span> ERP to the schools which are highly
                  Customizable. You don't need to use multiple software to manage your institution. We have <span
                    class="fw700">30+ modules and also a customization on-demand process.</span>
                  Ireava cloud-based school ERP converts people-driven to process-driven ensuring streamlined day-to-day
                  school processes.
                  Step into the world of out-of-the-box Ireava school ERP so that you get time to focus on the core of
                  your organization.</p>
                <br />
                <div class="slideshow-container">
                  <div class="mySlides">
                    <p class="fw700">Benefits of Ireava School ERP For Schools</p>
                    <ul class="pl5">
                      <li>Daily updates of school activities to staff, students and parents.</li>
                      <li>Reduce paperwork and man work.</li>
                      <li>Allocate and manage resources properly.</li>
                      <li>Helps to build strong relationships between parents and school.</li>
                      <li>Helps to manage multi branches of schools.</li>
                      <li>Accurate & optimized data anytime.</li>
                      <li>Streamline financial management.</li>
                      <li>100% optimum ERP for school that you can control anywhere, anytime.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>
                  <div class="mySlides">
                    <p class="fw700">Benefits of Ireava School ERP For School Owners</p>
                    <ul class="pl5">
                      <li>Ireava helps to reduce paperwork and record books.</li>
                      <li>Ireava makes strong communication between school and parents.</li>
                      <li>Ireava will help you to manage your school at every level smartly.</li>
                      <li>Ireava will provide you complete finance-related reports.</li>
                      <li>Ireava will always provide 24/7 service.</li>
                      <li>Communicate in real-time with school staff.</li>
                      <li>Ireava is the best school ERP that upgrades your institute to the next level just in clicks.
                      </li>
                      <li>Ireava helps you to get more admissions with a better product.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>
                  <div class="mySlides">
                    <p class="fw700">Benefits of Ireava School ERP For Staff</p>
                    <ul class="pl5">
                      <li>Mark attendance easily with the application or Barcode application.</li>
                      <li>Manage classes, exams, results and other assigned modules.</li>
                      <li>Provide homework, assignments and lectures on application.</li>
                      <li>Manage tasks, reminders, docs, issued books and other activities.</li>
                      <li>Check attendance report from data to date.</li>
                      <li>Communicate in real-time with school staff and parents.</li>
                      <li>Apply for a leave on the application.</li>
                      <li>Engage with institute activities easily on application.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>

                  <div class="mySlides">
                    <p class="fw700">Benefits of Ireava School ERP For Parents</p>
                    <ul class="pl5">
                      <li>Get to know about children's attendance and performance.</li>
                      <li>With GPS tracking, track your children's school bus.</li>
                      <li>Get updates about children's work from school.</li>
                      <li>Get event updates from the school.</li>
                      <li>Helps students to engage with school activities effectively.</li>
                      <li>Communicate in real-time with school staff.</li>
                      <li>Pay fee online and check dues, other details on application.</li>
                      <li>Manage multiple children in one account.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>
                  <div class="mySlides">
                    <p class="fw700">Benefits of Ireava School ERP For Students</p>
                    <ul class="pl5">
                      <li>Track your academic performance.</li>
                      <li>Check Issued Library book status.</li>
                      <li>Access lecture contents and raise doubts.</li>
                      <li>Get event updates from school.</li>
                      <li>Engage with institute activities on application.</li>
                      <li>Communicate in real time with school staff.</li>
                      <li>Pay fee online and check dues, other details on application.</li>
                      <li>Submit homework and assignment online with the updated status.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>
                  <div class="mySlides">
                    <p class="fw700">Overall Benefits of Ireava School ERP</p>
                    <ul class="pl5">
                      <li>Helps to manage complete school administrative work.</li>
                      <li>40+ reports and modules provided by Ireava including visual data charts.</li>
                      <li>Helps to manage staff and their work effectively.</li>
                      <li>Communication between school and parents regarding the student's progress and activities.</li>
                      <li>Helps students to engage with school activities effectively.</li>
                      <li>Automate plugins for finance, exam, attendance and communication module.</li>
                      <li>E-learning system to provide online classes, exams, content, homework to the students.</li>
                      <li>Interactive branded school name application.</li>
                    </ul><br />
                    <a href="/modules" onclick="document.getElementById('sound1').play();"
                      class="c-btn c-btn--action video-btn">Explore Modules</a>
                  </div>

                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="text-center margt15">
                      <a class="prev" onclick="plusSlides(-1)"> <i class="fa fa-angle-left"></i></a>
                      <a class="next" onclick="plusSlides(1)"><i class="fa fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <hr />
  <section>
    <div class="container">
      <div class="c-headline clientpadding">
        <h3 class="head1">Ireava School ERP Benefits</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="well wellbox1">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center fw700">Single School ERP</h4>
                <ul class="lstn">
                  <li>
                    Daily updates of school activities to staff,
                    students and parents.
                  </li>
                  <li>
                    Reduce paper work and man work.
                  </li>
                  <li>
                    Streamline financial manage.
                  </li>
                  <li>
                    100% optimum ERP for school that you can control
                    anywhere, anytime.
                  </li>
                  <li>
                    Students performance analysis.
                  </li>
                  <li> Manages your school at every level smartly.</li>
                  <li> Automate Admission, Fees process.</li>
                  <li> Upgrades your school at next level.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well wellbox1">
            <div class="row">

              <div class="col-md-12">
                <h4 class="text-center fw700">Multiple School Branch ERP</h4>
                <ul class="lstn">
                  <li>
                    Access multiple branches using single login.
                  </li>
                  <li> Easy to check any branch on one click.</li>
                  <li>
                    Daily updates of school activities to staff,
                    students and parents.
                  </li>
                  <li>
                    Reduce paper work and man work.
                  </li>
                  <li>
                    Streamline financial manage.
                  </li>
                  <li>
                    100% optimum ERP for school that you can control
                    anywhere, anytime.
                  </li>
                  <li>
                    Students performance analysis.
                  </li>
                  <li> Manages your school at every level smartly.</li>
                  <li> Automate Admission, Fees process.</li>
                  <li> Upgrades your school at next level.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="simplepowerful counter  s-section-padding s-section-alt s-back-grad">
    <div class="c-overlay s-pattern"></div>
    <div class="container">
      <div class="c-headline">
        <h3 class="headwhite head1 mobileh3">Register For Ireava School ERP</h3>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="fs24 text-center cwhite strict">Get the most trusted and growing School ERP developed after the Deep
            Researched and the best Customer Support Satisfaction.
          </p><br />
          <div class="row">
            <div class="col-xs-12 col-sm-offset-4">
              <a href="tel:+91-7015097673" onclick="document.getElementById('sound1').play();"
                class="c-btn c-btn--primary">Call Us</a>
              &nbsp;&nbsp;&nbsp;
              <a href="/pricing" onclick="document.getElementById('sound1').play();"
                class="c-btn c-btn--primary">Pricing</a><br/><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><br/>
  <section>
    <div class="container">
            <div class="row">
                    <div class="col-md-12">
                            <div class="c-headline clientpadding">
                                    <h2>FAQ</h2>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-8">
                            <div class="panel-group" id="accordion1">
                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                                    data-parent="#accordion1"
                                                                    data-target="#collapse1">
                                                                    <i class="fas fa-pencil-alt"></i> What Is A School Management Software?
                                                            </a>
                                                    </h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                     <p> School management software is an information management and ERP system used by educational institutions to manage all student and staff data, transactions, and other modules records. A school management software is designed to manage & simplify the day-to-day administrative & non-administrative tasks of a school. School management software enables schools to monitor daily activities like daily attendance, timetable management, etc. from a single centralized platform. From managing online admissions, assigning homework, online exams, examination management, finance and payroll management, and library management, etc. The school ERP software offers various modules for complete single and multi-campus administrations & enables educators to make quick & thoughtful decisions that enhance student & faculty performance & drive institutional growth.</p>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                                    data-parent="#accordion1"
                                                                    data-target="#collapse2"
                                                                    class="collapsed">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                    How Much Does A School Management ERP Software Cost?
                                                            </a>
                                                    </h4>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                     <p> The cost of school management software varies depending on aspects like - total number of modules, student capacity, features & functionalities, implementation services, etc. On average, the price of school ERP software in India falls in the range of 0 to 250 Rs Per Student Per Year.<span class="fw600"> But Ireava charges as per plans because it cost too much for the schools to pay as per student capacity. We offer simple and affordable plans. <a href="/pricing"> Check our pricing.</a></span></p>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                                    data-parent="#accordion1"
                                                                    data-target="#collapse3"
                                                                    class="collapsed">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                    Can we get refund if not satisfied?
                                                            </a>
                                                    </h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                           <p> Yes, we provide till 30 days if not satisfied with our product. You can claim 100% refund within 30 days of purchase date.</p>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                                    data-parent="#accordion1"
                                                                    data-target="#collapse4"
                                                                    class="collapsed">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                    How do I get coupons on Ireava ERP?
                                                            </a>
                                                    </h4>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                          <p>  We added a hidden coupon on our website. You can find the coupon code on our website and search for "ireava coupon code" on google.</p>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                            <a data-toggle="collapse"
                                                                    data-parent="#accordion1"
                                                                    data-target="#collapse5"
                                                                    class="collapsed">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                    What School ERP Modules Ireava Offers?
                                                            </a>
                                                    </h4>
                                            </div>
                                            <div id="collapse5" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                      <p class="strict">
                                                           <span class="fw600"> Below listed Ireava ERP modules you will get in every plan you purchase.</span><br/>
                                                           <ul>
                                                             <li>Admission, Fees, Payroll, Leave, Roles, Events, Scholars Management.</li>
                                                             <li>Student and Staff Management.</li>
                                                             <li>Library, Inventory, Communication, Online/Offline Exam, Income, Expense, Academics Management.</li>
                                                             <li>Transport, Alumni, Hostel, Homework, Reception Desk.</li>
                                                             <li>Student/Parent Mobile App.</li>
                                                             <li>Staff, Student/Parent Web Login.</li>
                                                           </ul></p>
                                                    </div>
                                            </div>
                                    </div>

                            </div>
                    </div>


            </div>

    </div>
</section>

  <script type="text/javascript">
    var count11 = 0;
    var names11 = ['All In One Complete ERP Solution For School', 'Get Analysed Reports of Student Performance',
      'No Need To Maintain Notebooks & Dairies', 'Complete Centralised Learning System'
    ];
    var namesContainer11 = document.getElementsByClassName('word11');
    setInterval(function () {
      for (var k = 0; k < 4; k++) {
        namesContainer11[k].innerHTML = names11[count11];
        count11++;
        if (count11 == names11.length) {
          count11 = 0;
        };
      }
    }, 4000);
  </script>
  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>
  <script>
    $('#owl-carousel2').owlCarousel({
      loop: true,
      margin: 30,
      dots: false,
      nav: true,
      items: 1,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true
    })
  </script>
  <script>
    var img = $("#exampleImage");
    var configObject = {
      sourceUrl: img.attr("data-videourl"),
      triggerElement: "#" + img.attr("id"),
      progressCallback: function () {
        console.log("Callback Invoked.");
      }
    };
    var videoBuild = new YoutubeOverlayModule(configObject);
    videoBuild.activateDeployment();
  </script>

</body>

</html>