<!DOCTYPE html>
<html>

<head>
        <link rel="canonical" href="https://www.ireava.com/smart-attendance" />
        <title>RFID Cards For Smart Attendance System | RFID Cards | Ireava</title>
        <meta property="og:title" content="RFID Cards For Smart Attendance System | RFID Cards | Ireava" />
        <meta name="description"
                content="Automate your school attendance process with us. Install the seamless and accurate smart attendance RFID Cards in your school." />
        <meta property="og:description"
                content="Automate your school attendance process with us. Install the seamless and accurate smart attendance RFID Cards in your school." />
        <meta property="og:keywords"
                content="rfid attendance system, biometric attendance, automate attendance system, school attendance system, school attendance software, staff attendance system, staff attendance software, student attendance system, student attendance software" />
        <meta name="keywords"
                content="rfid attendance system, biometric attendance, automate attendance system, school attendance system, school attendance software, staff attendance system, staff attendance software, student attendance system, student attendance software" />
        <script type="application/ld+json">
                {
                        "@context": "https://schema.org/",
                        "@type": "WebSite",
                        "name": "Ireava",
                        "url": "https://www.ireava.com/smart-attendance/",
                        "potentialAction": {
                                "@type": "SearchAction",
                                "target": "{search_term_string}",
                                "query-input": "required name=search_term_string"
                        }
                }
        </script>
	<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '904711380600503');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=904711380600503&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE9CGPZ8T0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE9CGPZ8T0');
</script>
</head>

<body>
        <br /><br /><br />
        <section id="hardware" class="price s-section-padding">
                <div class="container">
                        <div class="c-headline">
                                <span>{{smartcardl1}}</span>
                                <h1>{{smartcardl2}}</h1>
                                <p> {{smartcardl3}}</p>
                        </div>
                        <div class="row">
                                <div class="col-md-4" ng-repeat="x in smartcardlt1">
                                        <div class="price__table {{x.tablecolor}} s-primary-content wow fadeInLeft">
                                                <div class="price__header">
                                                        <img src="img/{{x.img}}" class="table__header--icon"
                                                                alt="{{x.imgalt}}">
                                                        <h3>{{x.title}}</h3>
                                                </div>
                                                <div class="price__content">
                                                        <ul class="price__content--list">
                                                               <li ng-repeat="xp in x.list"><span data-toggle="tooltip" data-placement="bottom"
                                                                                title="">
                                                                               {{xp}}</span></li>
                                                        </ul>
                                                </div>
                                                <div>
                                                        <ul class="price__footer">
                                                                <li>
                                                                        <!-- <p class="pricetag pricestyl">{{x.price}}</p> -->
                                                                        <p class="pricetag pricestyl"> <span class="pricereq">Contact For Pricing</span> </p>
                                                                </li>
                                                                <br />
                                                                <li>
                                                                        <a href="{{phone}}"onclick="document.getElementById('sound1').play();" class="c-btn c-btn--action -big font12">Call
                                                                                Us</a>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

        </section>
        <hr />
        <section>
                <div class="container contnmar">
                        <div class="c-headline clientpadding">
                                <span>{{smartcardl4}}</span>
                                <h2>{{smartcardl5}}</h2>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                        <div id="owl-carousel7" class="owl-carousel owl-theme">
                                                        <div>
                                                                        <picture class="center">
                                                                          <source srcset="https://ireava.sirv.com/Images/img/rfid1.webp" type="image/webp">
                                                                          <source type="image/png" srcset="https://ireava.sirv.com/Images/img/rfid1.png">
                                                                          <img src="https://ireava.sirv.com/Images/img/rfid1.png" alt="Biometric Device" class="img-responsive abc">
                                                                        </picture>
                                                        </div>
                                                        <div>
                                                                        <picture class="center">
                                                                          <source srcset="https://ireava.sirv.com/Images/img/rfid2.webp" type="image/webp">
                                                                          <source type="image/png" srcset="https://ireava.sirv.com/Images/img/rfid2.png">
                                                                          <img src="https://ireava.sirv.com/Images/img/rfid2.png" alt="Biometric Device" class="img-responsive abc">
                                                                        </picture>
                                                        </div>
                                                        <div>
                                                                        <picture class="center">
                                                                          <source srcset="https://ireava.sirv.com/Images/img/rfid3.webp" type="image/webp">
                                                                          <source type="image/png" srcset="https://ireava.sirv.com/Images/img/rfid3.png">
                                                                          <img src="https://ireava.sirv.com/Images/img/rfid3.png" alt="RFID Device" class="img-responsive abc">
                                                                        </picture>
                                                        </div>
                                                        <div>
                                                                        <picture class="center">
                                                                          <source srcset="https://ireava.sirv.com/Images/img/rfid4.webp" type="image/webp">
                                                                          <source type="image/png" srcset="https://ireava.sirv.com/Images/img/rfid4.png">
                                                                          <img src="https://ireava.sirv.com/Images/img/rfid4.png" alt="RFID Device" class="img-responsive abc">
                                                                        </picture>
                                                        </div>
                                                        <div>
                                                                        <picture class="center">
                                                                          <source srcset="https://ireava.sirv.com/Images/img/rfid5.webp" type="image/webp">
                                                                          <source type="image/png" srcset="https://ireava.sirv.com/Images/img/rfid5.png">
                                                                          <img src="https://ireava.sirv.com/Images/img/rfid5.png" alt="RFID Device" class="img-responsive abc">
                                                                        </picture>
                                                        </div>
                                                        <div>
                                                                        <picture class="center">
                                                                          <source srcset="https://ireava.sirv.com/Images/img/rfid6.webp" type="image/webp">
                                                                          <source type="image/png" srcset="https://ireava.sirv.com/Images/img/rfid6.png">
                                                                          <img src="https://ireava.sirv.com/Images/img/rfid6.png" alt="RFID Device" class="img-responsive abc">
                                                                        </picture>
                                                        </div>
                                        </div>
                                </div>
                                <div class="hidden-lg hidden-md hidden-sm visible-xs">
                                        <br /><br />
                                </div>
                                <div class="col-md-6">
                                        <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="y in smartcardlt2"> {{y}}</li>
                                        </ul>
                                </div>
                        </div>
                </div>
        </section>
        <hr />
        <section>
                <div class="container contnmar">
                        <div class="c-headline clientpadding">
                                <span>Successful Smart Card Implementation</span>
                                <h2>RFID Based Attendance System</h2>
                        </div>

                        <div class="row">
                                <div class="col-xs-6">
                                        <div class="row">
                                                <div class="col-xs-4">
                                                        <div class="abcd">
                                                                <span class="icon"><i
                                                                                class="fas fa-mobile fs35"></i></span>
                                                        </div>
                                                </div>
                                                <div class="col-xs-8">
                                                        <div class="abcd abcn">
                                                                <h4><span class="count">25</span> +</h4>
                                                                <p>Installed Devices</p>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-xs-6">
                                        <div class="row">
                                                <div class="col-xs-4">
                                                        <div class="abcd">
                                                                <span class="icon"><i
                                                                                class="fas fa-id-card-alt fs35"></i></span>
                                                        </div>
                                                </div>
                                                <div class="col-xs-8">
                                                        <div class="abcd">
                                                                <h4><span class="count">45000</span> +</h4>
                                                                <p>Smart Cards Punching Every Day</p>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </section><br />
     <script>
        $('#owl-carousel7').owlCarousel({
          loop: true,
          margin: 30,
          dots: false,
          nav: true,
          items: 1,
          autoplay: true,
          autoplayTimeout: 3000,
          autoplayHoverPause: true
        })
      </script>
</body>

</html>